@media(max-width:428px){
    .new li:hover ul {
        /* background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%); */
         font-size: 18px; 
    }


    .questionWrapper .youHaveQ {
        margin: 42px 0 23px 67px;
    }

    .scFonmob {
        display: block;
        width: 420px;
        height: auto;
        margin: 0 0 0 0;
    }

    .sucsesfullcases .scWrapper marquee {
        width: 410px;
        background: rgba(0, 0, 0, 0);
    }

    .partners .partnersimgmob {
        display: block;
        width: 420px;
    }

    .partners .partnetsWrapper marquee {
        width: 410px;
        background: rgba(0, 0, 0, 0);
    }

    .article .articlewrapper .articlediv .articlep3 {
        margin: 0 0 0 0px;
    }

    .office .officelocate1 {
        margin: 0 0px 14px 170px;
    }

    .questionWrapper .engyouhave{
        margin: 42px 0 23px 7px;
    }



    .txtpartners {
        font-size: 32px;
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
        line-height: 39px;
        margin: -420px 0 42px 37px;
    }

    .questionWrapper .youHaveQ {
        margin: 42px 0 23px 48px;
    }
/* ????? */
    .goal_photo222 {
        display: block;
        width: 426px;
        height: 508px;
        padding: 140px 0 0 0;
        margin: 0px 0 0 2px;
    }

    .prevueimgmob {
        display: block;
        position: absolute;
        width: 428px;
        margin: 0 0 0 0px;
    }

    .scFonmob {
        display: block;
        width: 428px;
        height: auto;
        margin: 0 0 0 0;
    }

    .sucsesfullcases .scWrapper marquee {
        width: 427px;
        background: rgba(0, 0, 0, 0);
    }
/* + */
    .numbers .mobnumberswrapper .clientsmob {
        margin: 0 0 0 -2px;
        width: 161px;
    }
/* - */


.partners .partnersimgmob {
    display: block;
    width: 428px;
}

.partners .partnetsWrapper marquee {
    width: 427px;
    background: rgba(0, 0, 0, 0);
}

.txtpartners {
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: -420px 0 42px 59px;
}



/* new 428 */
.wrapper_head-text {
    margin: -203px 0px 0px 1px;
}


.prevueimgmob {
    display: block;
    position: absolute;
    width: 411px;
    margin: 0 0 0 0px;
}

.sucsesfullcases .scWrapper marquee {
    width: 426px;
    background: rgba(0, 0, 0, 0);
}

footer {
    padding: 0 0 0 16px;
    width: 427px;
    height: 972px;
}

.txtpartners {
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: -420px 0 42px 51px;
}

h3 {
    margin: -500px 290px 68px 28px;
    width: 400px;
    font-size: 30px;
}



}