@media(max-width:428px){
    .new li:hover ul {
        /* background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%); */
         font-size: 18px; 
    }


    .questionWrapper .youHaveQ {
        margin: 42px 0 23px 67px;
    }

    .scFonmob {
        display: block;
        width: 420px;
        height: auto;
        margin: 0 0 0 0;
    }

    .sucsesfullcases .scWrapper marquee {
        width: 410px;
        background: rgba(0, 0, 0, 0);
    }

    .partners .partnersimgmob {
        display: block;
        width: 420px;
    }

    .partners .partnetsWrapper marquee {
        width: 410px;
        background: rgba(0, 0, 0, 0);
    }

    .article .articlewrapper .articlediv .articlep3 {
        margin: 0 0 0 0px;
    }

    .office .officelocate1 {
        margin: 0 0px 14px 170px;
    }

    .questionWrapper .engyouhave{
        margin: 42px 0 23px 7px;
    }



    .txtpartners {
        font-size: 32px;
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
        line-height: 39px;
        margin: -420px 0 42px 37px;
    }

    
}