.cards{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 50px 0px;
}

.cards .card{
    width: 300px;
    background-color: black;
    height: 400px;
    border-radius: 10px;
}
.cards .card p{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Mitr', sans-serif;
}
.cards .card p span{
    color:rgb(0, 255, 255);
}

.cards .card img{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin: 20px 0 0 48px;
}

.info{
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
    margin: 0 auto;
    width: 1220px;
}


@media (max-width:1200px){
    
.info{
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
    margin: 0 auto;
    width: 1040px;
}
}


@media (max-width:992px){
    
    .info{
        font-size: 20px;
        font-family: 'Mitr', sans-serif;
        margin: 0 auto;
        width: 860px;
    }

    .cards .card {
        width: 250px;
        background-color: black;
        height: 350px;
        border-radius: 10px;
    }

    .cards .card img{
        width: 150px;
        height: 230px;
        border-radius: 20px;
        margin: 20px 0 0 48px;
    }

    .cards .card p{
        text-align: center;
        font-size: 18px;
        color: white;
        font-family: 'Mitr', sans-serif;
    }
    }


    @media (max-width:768px){
        .cards{
            margin: 25px 0px 25px 0px;
        }
        
        .cards .card {
            width: 200px;
            height: 270px;     
        }

        .cards .card img{
            width: 100px;
            height: 170px;
            border-radius: 20px;
            margin: 20px 0 0 48px;
        }
    


        .info{
            font-size: 20px;
            font-family: 'Mitr', sans-serif;
            margin: 0 auto;
            width: 670px;
        }

        .aboutusline{
                width: 700px;
                height: 3px;
                background: black;
                margin: 38px 0 55px 21px;
        }

     footer  .aboutuscase{
            padding: 7px 0 0 110px;
        }
    }

    @media (max-width:576px){
        .cards .card {
            width: 150px;
            height: 200px;     
        }

        .cards .card img{
            width: 70px;
            height: 120px;
            border-radius: 20px;
            margin: 20px 0 0 40px;
        }

        .cards .card p{
            text-align: center;
            font-size: 14px;
            color: white;
            font-family: 'Mitr', sans-serif;
        }

        .info {
            font-size: 16px;
            font-family: 'Mitr', sans-serif;
            margin: 0 auto;
            width: 500px;
        }

        .aboutusline{
            width: 510px;
            height: 3px;
            background: black;
            margin: 38px 0 55px 22px;
    }

    footer .aboutuscase {
        padding: 7px 0 0 50px; 
    }    
    }


    @media (max-width:528px){
        .info {
            font-size: 16px;
            font-family: 'Mitr', sans-serif;
            margin: 0 auto;
            width: 470px;
        } 

        .aboutusline {
            width: 468px;
            height: 3px;
            background: black;
            margin: 38px 0 55px 21px;
        }

        footer .aboutuscase {
            padding: 7px 0 0 36px;
        }
    }

    @media(max-width:428px){
        .info {
            font-size: 12px;
            font-family: 'Mitr', sans-serif;
            margin: 0 auto;
            width: 378px;
        }

        .aboutusline {
            width: 380px;
            height: 3px;
            background: black;
            margin: 38px 0 55px 15px;
        }

        footer .aboutuscase {
            padding: 7px 0 0 16px;
        }

        footer .aboutuscase2 .aboutuscase2wrap img{
            width: 30px;
            height: 30px;
        }
        footer .aboutuscase2 {
        font-size: 18px;
        font-weight: bold;
        color: black;
        font-family: 'Mitr', sans-serif;
        padding: 0 0 0 380px;
        margin: -104px 0 30px -146px;
        width: 155px;
    }
    footer .aboutuscase2 .aboutuscase2wrap {
        margin: 20px 0 0 -7px;
    }

    .cards .card {
        width: 120px;
        height: 190px;
    }

    .cards .card img {
        width: 70px;
        height: 117px;
        border-radius: 20px;
        margin: 20px 0 0 26px;
    }

    .cards .card img {
        width: 70px;
        height: 110px;
        border-radius: 20px;
        margin: 20px 0 0 26px;
    }

    .cards .card img {
        width: 70px;
        height: 110px;
        border-radius: 20px;
        margin: 20px 0 0 25px;
    }
    .cards .card p{
        text-align: center;
        font-size: 14px;
        color: white;
        font-family: 'Mitr', sans-serif;
    }

    }

@media(max-width:404px){
    .info {
        font-size: 12px;
        font-family: 'Mitr', sans-serif;
        margin: 0 auto;
        width: 365px;
    }

    .aboutusline {
        width: 366px;
        height: 3px;
        background: black;
        margin: 28px 0 35px 10px;
    }

    footer .aboutuscase2 {
        font-size: 18px;
        font-weight: bold;
        color: black;
        font-family: 'Mitr', sans-serif;
        padding: 0 0 0 380px;
        margin: -89px 0 30px -165px;
        width: 155px;
    }

    footer .aboutuscase2 .aboutuscase2wrap {
        margin: 10px 0 0 -7px;
    }
}

@media (max-width: 428px){
.cards .card {
    width: 120px;
    height: 205px;
}
}