.wrapper_cases .firstCase  label{
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.wrapper_cases .secondCase label{
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.wrapper_cases .thirdCase label{
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.wrapper_cases .fourthCase label{
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.wrapper_cases .fifthCase label{
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
