

.slider .slider-list .sliderlistp {
    margin: 64px 0 0 104px;
}



.slider .slider-list .slide3 .engtext32{
    margin: 61px 0 0 100px;
}
/* 
.slider .slider-list .slide3 .sliderlistp {
    margin: 39px 0 0 100px;
} */

.slider .slider-list .slide3 .engtext33{
    margin: 35px 0 0 100px;
}

.slider .slider-list .slide1 .sliderlistp {
    margin: 39px 0 0 89px;
}

.slider .slider-list .slide2 .slide2p {
    margin: 39px 0 0 102px;
}

.slider .slider-list .eng44 {
    margin: 50px 0 0 104px;
}


.slider .slider-list .slide1 .engtxt12{
    margin: 62px 0 0 89px;
}





@media (max-width: 1024px){
.slider .slider-list .slider-track .slide1 .engtxt12{
    margin: 76px 0 0 87px;
}



.slider .slider-list .slider-track .slide1 .eng13{
    margin: 11px 0 0 87px;
}


.slider .slider-list .slider-track .slide2 .eng22{
    margin: 37px 0 0 103px;
}


.slider .slider-list .slider-track .slide2 .eng23 {
    margin: 64px 0 0 103px;
}


.slider .slider-list .slider-track .slide2 .eng23b{
    margin: 27px 0 0 103px;
}


.slider .slider-list .slider-track .slide3 .engtext32 {
    margin: 58px 0 0 100px;
}


.slider .slider-list .slider-track .slide4 .eng4442 {
    margin: 57px 0 0 90px;
}
.slider .slider-list .slider-track .slide4 .eng4443 {
    margin: 34px 0 0 87px;
}
}


.h3eng{
    width: 450px;
}

.numbers .numbersWrapperSecond {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    margin: 0 279px 0px 369px;
}

.numbers .numbersWrapperSecond .years {
    padding: 0 48px 0 0;
}

.numbers .numbersWrapperSecond .clients {
    padding: 0 73px 0 0;
}

.numbers .numbersWrapperSecond .clientsAgain {
    padding: 0 129px 0 0;
}

.numbers .numbersWrapperSecond .clients {
    padding: 0 96px 0 0;
}

.numbers .numbersWrapperSecond .years {
    padding: 0 57px 0 0;
}

.guarantees .guaranteesFtxt {
    margin: -705px 520px 37px 618px;
}


.animated-words .safety {
    margin: 0 0 0 -61px;
}

.animated-words .confidentiality {
    margin: 0 0 0 -229px;
}


.animated-words .competence {
    margin: 0 0 0 -154px;
}

.animated-words .effciency {
    margin: 0 0 0 -179px
}


.animated-words .understand {
    margin: 0 0 0 -208px
}

.animated-words .confidentiality {
    margin: 0 0 0 -231px
}

.animated-words .effciency {
    margin: 0 0 0 -183px;
}

.animated-words .loyalty {
    margin: 0 0 0 -89px;
}

.animated-words .ways {
    margin: 0 0 0 -314px;
}


.article .articlewrapper .articlepGoal2 {
    padding: 17px 0 34px 0;
}


.article .articlewrapper .articlepGoal3 {
    margin: 17px 0 56px 0;
}

.article .articlewrapper .articlepGoal4 {
    margin: 17px 0 11px 0;
}





@media (max-width: 1024px){
.case_header .case_menu .three_menu {
    margin: 0px 0px 26px 229px;
}


.case_header .case_menu .three_menu a {
    padding: 0px 0px 15px 39px;
}

.sucsesfullcases .scWrapper marquee {
    width: 1024px;
    background: rgba(0, 0, 0, 0);
}

.iconsTwo .inst{
    display: none;
}

.iconsTwo .facebook{
    display: none;
}

.iconsTwo {
    margin: 32px 0px 0px -324px;
}

.iconsTwo a img {
    padding: 0px 40px 0 0;
    width: 24px;
    height: 24px;
}


.numbers .numbersWrapperSecond .years {
    padding: 0 57px 0 0;
}

.numbers .numbersWrapperSecond .years {
    padding: 0 108px 0;
text-align:center; 
}

    .numbers .numbersWrapperSecond {
        font-family: 'Lora';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        margin: 0 279px 0px 64px;
    }

    .numbers .numbersWrapperSecond .clientsAgain {
        padding: 0 129px 0 0;
        margin: 0 0 0 83px;
    }

    .numbers .numbersWrapperSecond .ITproject{
        margin: 0 0 0 48px;
    }

    .numbers .numbersWrapperSecond {
        font-family: 'Lora';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        margin: 0 279px 0px 58px;
    }

    .numbers .numbersWrapperSecond .clients {
        padding: 0 98px 0 0;
    }

    .numbers .numbersWrapperSecond .years {
        padding: 0 111px 0;
        text-align: center;
    }



    .guarantees .guaranteesFtxt {
        margin: -543px 520px 37px 370px;
    }


    .animated-words .safety {
        margin: 0 0 0 -38px;
    }


    .animated-words .effciency {
        margin: 0 0 0 -136px;
    }
    .animated-words .confidentiality {
        margin: 0 0 0 -164px;
    }


    .animated-words .competence {
        margin: 0 0 0 -112px;
    }


    .animated-words .understand {
        margin: 0 0 0 -153px;
    }

    .animated-words .loyalty {
        margin: 0 0 0 -53px;
    }

    .animated-words .ways {
        margin: 0 0 0 -221px;
    }

}


@media (max-width: 428px){
.questionWrapper .youHaveQ {
    margin: 42px 0 23px 48px;
}
.questionWrapper .youHaveQ {
    margin: 42px 0 23px 7px;
    width: 400px;
}

.sucsesfullcases .scWrapper marquee {
    width: 428px;
    background: rgba(0, 0, 0, 0);
}

.numbers .numbersWrapperSecond {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    margin: 0 279px 0px 58px;
    display: none;
}

.numbers .mobnumberswrapper .yearsmob {
    margin: 0 0 0px -31px;
}


.numbers .mobnumberswrapper .clientsmob {
    margin: 0 0 0 19px;
}


.numbers .mobnumberswrapper .clientsAgainmob {
    font-family: 'Lora';
    color: white;
    font-size: 18px;
    margin: 0 0 0 -67px;
    width: 205px;
    text-align: center;
}

footer .footerSecondTxt {
    margin: 155px 0 0 139px;
}

.guarantees .guaranteesFtxt {
    margin: -543px 520px 37px 66px;
}

.animated-words .safety {
    margin: 0 0 0 -12px;
}

.animated-words .confidentiality {
    margin: 0px 0 0 -81px;
}


.animated-words .effciency {
    margin: 0 0 0 -65px;
}


.animated-words .competence {
    margin: 0 0 0 -42px;
}

.animated-words .safety {
    margin: 0 0 0 -2px;
}


.animated-words .competence {
    margin: 0 0 0 -50px;
}

.animated-words .understand {
    margin: 0 0 0 -75px;
}

.animated-words .loyalty {
    margin: 0 0 0 -12px;
}

.animated-words .ways {
    margin: 0 0 0 -128px;
}


}

.case_header .case_menu .three_menu {
    margin: 0px 0px -3px 479px;
}

.case_header .case_menu .three_menu a {
    padding: 15px 26px 15px 40px;
}

@media (max-width: 428px){
/* h4 {
    margin: 0 572px 32px 15px;
    font-size: 30px;
    width: 379px;
}
}

h4 {
    color: white;
    margin: 0px 572px 32px 585px;
    width: 411px;
}
 */
/* .numbers .nubmersText {
    width: 644px;
    height: 69px;
    text-align: center;
    margin: 0px 572px 58px 458px;
    color: white;
} */

.h4eng{
    color: white;
    margin: 180px 32px 11px 17px;
}


.sucsesfullcases .scWrapper marquee {
    width: 410px;
    background: rgba(0, 0, 0, 0);
}

.animated-words .safety {
    margin: 0 0 0 59px;
}

.animated-words .confidentiality {
    margin: 0px 0 0 -24px;
}


.animated-words .effciency {
    margin: 0 0 0 -5px;
}


.animated-words .competence {
    margin: 0 0 0 11px;
}

.animated-words .understand {
    margin: 0 0 0 -14px;
}

.animated-words .loyalty {
    margin: 0 0 0 45px;
}

.animated-words .ways {
    margin: -8px 0 0 -59px;
}


.office .officelocate1 {
    margin: 0 151px 14px 168px;
}

footer .footerSecondTxt {
    margin: 184px 0 0 136px;
}




.numbers  .nubmersText{
    display: none;
}

}

.numbers  .nubmersTexteng{
    display: none;
}

@media (max-width: 428px){

.numbers .nubmersTexteng {
    display: block;
    width: 398px;
    height: 72px;
    text-align: center;
    margin: 0px 0 94px 28px;
    color: white;
}


.numbers .nubmersTexteng {
    display: block;
    width: 398px;
    height: 72px;
    text-align: center;
    margin: 34px 0 94px 9px;
    color: white;
}
}

@media (max-width: 1024px){
    .case_header .case_menu .eng3menu {
        margin: 0px 0px 24px 273px;
    }

    .case_header .case_menu .three_menu a {
        padding: 15px 26px 15px 17px;
    }

    .iconsTwo a img {
        padding: 0px 30px 0 0;
        width: 24px;
        height: 24px;
    }

    .iconsTwo {
        margin: 32px 0px 0px -305px;
    }

    .slider .slider-service {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: white;
        margin: -6px 0 14px 2px;
        position: absolute;
        z-index: 2;
    }

    .slider .slider-txt {
        position: absolute;
        z-index: 2;
        margin: 60px 0px 0px 2px;
    }

    .numbers .h4eng{
        margin: 0 572px 32px 350px;
        width: 410px;
    }


    .numbers .numbersWrapperSecond .clientsAgain {
        padding: 0 178px 0 0;
    }
    
    .numbers .numbersWrapperSecond {
        font-family: 'Lora';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        margin: 0 279px 0px 54px;
    }

    
}

@media (max-width:428px){
    .numbers .h4eng {
        margin: 0 572px 32px 17px;
        width: 410px;
    }


    .numbers .nubmersTexteng {
        display: block;
        width: 398px;
        height: 72px;
        text-align: center;
        margin: 34px 0 94px 6px;
        color: white;
    }


    .numbers .numbersWrapperSecond {
        font-family: 'Lora';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        display: none;
        margin: 0 279px 0px 54px;
    }

    .txtpartners {
        font-size: 32px;
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
        line-height: 39px;
        margin: -420px 0 42px 70px;
    }

    .office .officelocate1 {
        margin: 0 151px 14px 169px;
    }

    .office .officeTxtfitst {
        margin: 0px 0px 32px 102px;
    }

    .office .lineclass {
        display: block;
        width: 270px;
        margin: -15px 0 22px 24px;
        height: 1px;
    }

    .engnext{
        color: white;
        font-size: 34px;
        margin: -222px 0 0 341px;
    }

    .engprev {
        margin: -220px 0 0 24px;
        color: white;
        font-size: 34px;
    }
}

@media (max-width: 1024px){
.txtpartners {
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: -420px 0 42px 390px;
}

.numbers .nubmersTextengplan{
    margin: 0 572px 58px 209px;
}
.numbers .h4eng {
    margin: 0 572px 32px 334px;
    width: 410px;
}

.animated-words .engs{
    margin: 0 0 0 -34px;
}

.animated-words .engc{
margin: 0 0 0 -160px;
}

.animated-words .enge{
    margin: 0 0 0 -126px;
}

.animated-words .engcom{
    margin: 0 0 0 -104px;
}

.animated-words .engund{
        margin: 0 0 0 -148px;
}

.animated-words .engl{
    margin: 0 0 0 -49px; 
}


.animated-words .engw {
    margin: 0 0 0 -218px;
}

}


.numbers .h4eng{
    color: white;
    margin: 0px 572px 32px 577px;
    width: 411px;
}

.partners .engpartners{
        margin: -420px 0 42px 631px;
}

@media (max-width:1024px){
    .numbers .h4engplan {
        color: white;
        margin: 0px 572px 32px 332px;
        width: 411px;
    }


    .partners .partntersplan{
            margin: -420px 0 42px 379px;
    }

}


@media (max-width:428px){
    .numbers .h4engmob{
        color: white;
        margin: 0px 572px 32px 18px;
        width: 411px;
    }

    .partners .partmob{
            margin: -420px 0 42px 74px;
    }


    .animated-words .engs {
        margin: 0 0 0 59px;
    }
    .animated-words .engc {
        margin: 0px 0 0 -24px;
    }
    .animated-words .enge {
        margin: 0 0 0 -5px;
    }

    .animated-words .engcom {
        margin: 0 0 0 11px;
    }

    .animated-words .engund {
        margin: 0 0 0 -14px;
    }
    .animated-words .engw {
        margin: -8px 0 0 -59px;
    }
    .animated-words .engl {
        margin: 0 0 0 45px;
    }
    .article .articlewrapper .articlediv .articlep3 {
        margin: 0 0 0 0px;
    }
    footer .footerSecondTxt {
        margin: 184px 0 0 155px;
    }
}