@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    display: block;
    background: black;
    width: auto;
    height: 140px;
    padding: 30px 0 0 0;
}

.header .logo{
    font-size: 36px;
    font-family: 'Monoton', cursive;
    width: 432px;
    text-align: center;
    color: white;
}


.header .navigation a{
    text-decoration: none;
    font-size: 24px;
    color:white;
    font-family: 'Mitr', sans-serif;
    padding: 0 0 0 100px;
}

.header .navigation{
    margin: -80px 0 0 415px;
}


.header .linksimg{
    margin: -35px 0 0 1130px;
}

.header .linksimg a img{
    width: 36px;
    height: 36px;
}

.header .linksimg a{
    padding: 0 0 0 15px;
}

/* header end */



.secondscr .secscrimg{
    width: 100%;
    height: 100%;
}

.secondscr .secscttxt {
    font-size: 110px;
    color: white;
    font-family: 'Mitr', sans-serif;
    padding: 0 0 0 0;
    margin: -606px 0 0 55px;
    font-weight: bold;
}

/*  */


.whychoose{
    width: auto;
    height: 650px;
    display: block;
    background: black;
    margin: 84px 0 0 0;
}

.whychoose .wctextgoal {
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 61px 0 61px 50px;
}

.whychoose .wcimg {
    width: 750px;
    height: 484px;
    padding: 60px 0 0 690px;
    position: absolute;
}

.whychoose div img{
    width: 48px;
    height: 48px;
    padding:0 0 0 55px;
}

.whychoose div{
    display: block;
}

.whychoose div p {
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    padding: 9px 0 0 130px;
    margin: -56px 0 30px 0;
}

.whychoose div .pwc{
    padding: 18px 0 0 55px;
}

.whychoose div .wctext {
    margin: -70px 0 32px 0;
    padding: 11px 0 0 130px;
}
/* offer */
.offer h1{
    font-size: 48px;
    color:black;
    font-family: 'Mitr', sans-serif;
    margin: 98px 0 100px 630px;
}

.offer .offercaseone .caseoneimg{
    width: 720px;
    height: 414px;
    position: absolute;
    padding: 0 0 0 764px;
    margin: 0 0 0 0;
}

.offer .offercaseone .caseonegoaltext{
    font-size: 36px;
    padding: 0 0 30px 75px;
    color:black;
    font-family: 'Mitr', sans-serif;
}


.offer .offercaseone .caseonegoaltextsecond{
    font-size: 20px;
    padding: 0 0 0 75px;
    color:black;
    font-family: 'Mitr', sans-serif;
}

.offer .offercaseone .offerbtn{
    width: 308px;
    height: 74px;
    border: 3px solid black;
    margin: 27px 0 0 76px;
    background-color: white;
    font-size: 24px;
    color:black;
    font-family: 'Mitr', sans-serif;
    z-index: 1;
    position: relative;
}


.offer .offercaseone .caseoneimg {
    width: 720px;
    height: 414px;
    position: absolute;
    padding: 0px 0px 0px 758px;
    margin: -414px 0px 18px;
}


.offer .offercaseone{
    margin: 0 0 40px 0;
}

/* case two */

.offer .offercasetwo .casetwotxtgoal{
    font-size: 36px;
    padding: 125px 0 0px 805px;
    color:black;
    font-family: 'Mitr', sans-serif;
}

.offer .offercasetwo .casetwotxt{
    font-size: 20px;
    padding: 30px 0 0 808px;
    color:black;
    font-family: 'Mitr', sans-serif;
}


.offer .offercasetwo .offerbtncasetwo{
    width: 308px;
    height: 74px;
    border: 3px solid black;
    margin: 27px 0 0 809px;
    background-color: white;
    font-size: 24px;
    color:black;
    font-family: 'Mitr', sans-serif;
    z-index: 1;
    position: relative;
}


.offer .offercasetwo .casetwoimg{
    position: absolute;
    padding: 0 0 0 0;
    width: 720px;
    height: 414px;
    margin: -403px 0 0 40px;
}

/* case three */
.offer .offercasethree{
    margin: 125px 0 0 0;
}

/* case four */

.offer .offercasefour{
    margin: 20px 0 100px 0;
}

/* end cases */
/*  */
.header .linksimg {
    margin: -35px 0 0 1200px;
}

.header .navigation {
    margin: -80px 0 0 435px;
}

.header .logo {
    margin: 0 0 0 5px;
}
/*  */
.line{
    width: 1445px;
    height: 3px;
    background:black;
    margin: 38px 0 55px 38px;
}

/* slider */

.forslider .forslidertxtgoal{
    font-size: 48px;
    color:black;
    font-family: 'Mitr', sans-serif;
    margin: 0 0 70px 0;
    text-align: center;
}


/*  */
.slideshow-container {
    width: 1440px;
    height: 700px;
    position: relative;
    margin: 0 0 0 41px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 64px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .slideshow-container .mySlides img{
    height: 860px;
    width: 1440px;
  } 

.forslider .sliderbutton{
    width: 308px;
    height: 74px;
    border: 3px solid black;
    margin: 230px 0 40px 600px;
    background-color: white;
    font-size: 24px;
    color: black;
    font-family: 'Mitr', sans-serif;
}


.offer .offercaseone .offerbtn:hover{
    background-color: black;
    color: white; 
}

.offer .offercasetwo .offerbtncasetwo:hover{
    background-color: black;
    color: white; 
}

.forslider .sliderbutton:hover{
    background-color: black;
    color: white; 
}

/* unique color */

.uniquecolor .uniquetxtgoal{
    font-size: 36px;
    color:black;
    font-family: 'Mitr', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}


.uniquecolor .uniquetxt{
    font-size: 20px;
    color: black;
    font-family: 'Mitr', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.uniquecolor .uniquebutton{
    width: 308px;
    height: 80px;
    border: 3px solid black;
    margin: 50px 0 50px 600px;
    background-color: white;
    font-size: 24px;
    color: black;
    font-family: 'Mitr', sans-serif;
    padding: 0 0 2px 0;
}

.uniquecolor .uniquebutton:hover{
    background-color: black;
    color: white; 
}

/* MAROQUEE */

.marquee {
       overflow: hidden; 
       width: auto;
    }
    
    .marquee-content {
      display: flex;
      animation: scrolling 40s linear infinite;
      width: 8000px;
    }
    
    .marquee-item {
      flex: 0 0 16vw;
      margin: 0 1vw;
    /*   flex: 0 0 20vw; */
    /*   margin: 0 2vw; */
    }
    
    .marquee-item img {
      display: block;
      width: auto;
      height: 370px;
    /*   padding: 0 20px; */
    }
    
    @keyframes scrolling {
      0% { transform: translateX(0); }
      100% { transform: translatex(-8000px); 
    
    }
    }
    
/* end scroll */


.bodyrepair .bodyrepairtextgoal{
    font-size: 36px;
    text-align: center;
    font-family: 'Mitr', sans-serif;
    margin-bottom: 15px;
}


.bodyrepair .bodyrepairtext{
    font-size: 24px;
    text-align: left;
    font-family: 'Mitr', sans-serif;
    margin:0 0 60px 190px;
}


.bodyrepair .bodyrepairtextgoal2{
    font-size: 28px;
    text-align: center;
    font-family: 'Mitr', sans-serif;
    margin-bottom: 50px;
}
/* cases repair */
.bodyrepair .repaircases div{
    display:flex;
    padding: 30px 0 0 125px;
}


.bodyrepair .repaircases div p{
    font-size: 18px;
    font-family: 'Mitr', sans-serif;
    padding: 0 0 0 24px;
}
.bodyrepair .repaircases .repairallp{
    padding: 10px 0 0 25px;
}

.bodyrepair .repaircases .repairfirstp{
    padding: 10px 0 0 37px;
}

.bodyrepair .repairbutton{
        width: 308px;
        height: 74px;
        border: 3px solid black;
        margin: 20px 0 0px 190px;
        background-color: white;
        font-size: 24px;
        color: black;
        font-family: 'Mitr', sans-serif;
        
}

.bodyrepair .repairbutton:hover{
    color: white;
    background-color: black;
}

.bodyrepair .repairimg {
    width: 850px;
    height: 420px;
    position: absolute;
    margin: -405px 0 0px 627px;
}

.bodyrepair{
    margin: 0 0 100px 0;
}

/* map */


.map .mapgoaltxt{
    font-size: 36px;
    color: black;
    font-family: 'Mitr', sans-serif;
    text-align: center;
    margin-bottom: 24px;
}

.map .mapcart iframe{
    width: 1442px;
    height: 600px;
    border: 0;
    margin: 0 0 0 40px;
}

.map{
    margin: 0 0 70px 0;
}

/* footer */

footer .footerfirstcase{
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: 'Mitr', sans-serif;
    padding: 0 0 0 37px;
}

footer .footerfirstcase p{
    font-size: 16px;
    color: black;
    font-family: 'Mitr', sans-serif;
}


footer .footersecondcase{
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: 'Mitr', sans-serif;
    padding: 0 0 0 380px;
    margin: -139px 0 40px 0;
}


footer .footersecondcase p{
    font-size: 16px;
    color: black;
    font-family: 'Mitr', sans-serif;
}

footer .footersecondcase .imgwrapperfooter img{
    width: 48px;
    height: 48px;
    padding: 0 0 0 5px;
}

footer .footersecondcase .imgwrapperfooter{
    margin:20px 0 0 -10px;
} 

footer .footerimg {
    width: 900px;
    height: 200px;
    margin: -200px 0 0 610px;
    position: absolute;
}


/* window */

#parent_popup {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #popup { 
    background: #fff;
    width: 520px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border: 10px solid #000;
    position: relative;
    /*--CSS3 Тени для Блока--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Скругленные углы--*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
     border-radius: 15px;
  }

  .close {
    background-color: black;
    border: 2px solid #ccc;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: -24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    top: -24px;
    width: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
     box-shadow: 1px 1px 3px #000;
    
}

#parent_popup #popup .popuplogo{
    font-size: 36px;
    font-family: 'Monoton', cursive;
    width: 432px;
    text-align: center;
    color: black;
    margin: 0 auto;
    padding: 0 0 25px 0;
} 

#parent_popup #popup .popuptxt{
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    margin: 0 0 30px 118px;
    
}

#parent_popup #popup .popupinput label{
    display: block;
    position: absolute;
    height: 18px;
    padding: 0 8px;
    background-color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    font-family: 'Mitr', sans-serif;
    margin: -55px 0 0px 8px;
}

#parent_popup #popup .popupinput input{
    width: 400px;
    height: 100%;
    padding-left: 0 20px;
    font-size: 20px;
    padding: 10px 5px 5px 5px;
}

#parent_popup #popup .popupinput{
    margin: 0px 0 0 53px;
}

#parent_popup #popup .btninputs{
    width: 240px;
    height: 45px;
    border: 3px solid black;
    margin: 30px 0 20px 140px;
    background-color: white;
    font-size: 24px;
    color: black;
    font-family: 'Mitr', sans-serif;
    z-index: 1;
    position: relative;
}


#parent_popup #popup .btninputs:hover{
    background-color: black;
    color:white;
}

#parent_popup #popup .popupagree input{
    width: 25px;
    height: 25px;
    margin: 20px 0 0 0;
}

#parent_popup #popup .popupagree label {
    font-size: 18px;
    font-family: 'Mitr', sans-serif;
    padding: 16px 0 0px 15px;
    margin: 0px 0 0 0px;
}

#parent_popup #popup .popupagree {
    margin: 0 0 0 120px;
    display: flex;
}


