@media (min-width: 1540px) {
   
    .photos img{
        margin: 70px 0 0 613px;
    }

    .wrapper_cases {
        margin: -120px 0 0 18px;
    }
    .slider-list.grab {
        width: 1300px;
        height: auto;
    }

    .slider {
        margin: 50px 0px 120px 210px;
    }


    .animated-words .safety {
        margin: 0 0 0 -715px;
    }

    .animated-words .confidentiality {
        margin: 0 0 0 -820px;
    }

    .animated-words .effciency {
        margin: 0 0 0 -715px;
    }

    .animated-words .competence {
        margin: 0 0 0 -765px;
    }

    .animated-words .understand {
        margin: 0 0 0 -666px;
    }

    .animated-words .loyalty {
        margin: 0 0 0 -664px;
    }
    .animated-words .ways {
        margin: 0 0 0 -1010px;
        width: auto;
        height: auto;
    }

    .numbers .numbersWrapperSecond {
        margin: 0 1312px 0px 341px;
    }

    .sucsesfullcases .scWrapper marquee {
        width: 1440px;
    }

    .sucsesfullcases .scFon {
        width: 1440px;
        height: 657px;
        margin: 95px 0 0px 0px;
    }

    footer{
        width: 1440px;
    }

    .case_header .case_menu .three_menu {
        margin: 0px 0px -2px 450px;
    }

    .case_header #language .iconsTwo {
        margin: 59px 0px 0px -1535px;
    }

    .case_header #language .case_phone {
        margin: 58px 0px 0px -1270px;
    }

    #language #drop_lang .drop_lang {
        margin: 0px 30px 0px -1119px; 
        padding: 11px 10px 0px 0px;
    }

    #language #drop_lang .txt_ru {
        margin: -16px 0px 0px -1100px;
    }

    #language #drop_lang img {
        margin: 0px 10px -25px -1013px;
    }

    #language li, #language ul {
        margin: -5px 0px 0px -49px;

        
    }

    }


    @media (max-width: 1024px) {
        .logo img{
            padding-top: 63px;
            margin-left: 20px;
            width: 189px;
            height: 84px;
        }

        .case_header .case_menu .three_menu {
            margin: 0px 0px -2px 229px;
        }

        .case_header .case_menu .three_menu a {
            padding: 0px 0px 15px 39px;
        }

        #language .case_phone {
            margin: 30px 0px 0px -183px;
        }
        .iconsTwo {
            margin: 32px 0px 0px -394px;
        }
        #language #drop_lang .txt_ru {
            margin: -33px 0px 0px -12px;
        }

        #language #drop_lang img {
            margin: 0px 10px 0px 75px;
            width: 25px;
            height: 25px;
        }

        #language #drop_lang .drop_lang {
            margin: -29px 30px 0px -22px;          
            padding: 11px 10px 0px 0px;
            
        }

        .case_header .case_menu .three_menu {
            margin: 0px 0px 26px 229px;
        }
        .wrapper_head-text {
            margin: -695px 0px 0px 89px;
            padding: 30px 0 0 0;
            }

        .photos .goal_photo{
            width: 70%;
            height: 100%;
           margin:120px 0 0 315px;
        }

        .wrapper_cases {
            display: grid;
            grid-template-columns: 450px 450px;
            column-gap: 0px;
            grid-template-rows: minmax(245px,auto) minmax(255px,auto) minmax(265px,auto);
            grid-auto-rows: minmax(255px,auto);
            row-gap: 0px;
            padding: 110px 0px 75px 140px;
        }

        .slider .slider-arrows {
            margin: 6px 0px 0px 692px;
            position: relative;
            z-index: 2;
        }

        .slider .slider-track .slide1 .counterGoal {
            z-index: 100;
            position: absolute;
            margin: -67px 0 0 735px;
            display: block;
            height: auto;
            width: auto;
            font-size: 30px;
            color: white;
            background: rgba(0, 0, 0, 0);
        }

        .slider {
            margin: 50px 0px 120px 0px;
        }

        .slider .slider-track .slide1 {
            display: grid;
            grid-template-columns: 220px 220px 220px;
            margin: 76px 0 0px 0;
        }

        .slider .slider-list .sliderlisttxt {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            color: white;
            margin: -60px 0 0 88px;
        }

        .slider .slider-list .sliderlistp {
            width: 200px;
        }
        .slider .slider-list .sliderlistp {
            font-size: 12px;
        }

        .slider .slider-list .slider-track button {
            width: 140px;
            height: 46px;
            background: rgba(0, 0, 0, 0);
            border-radius: 8px;
            appearance: none;
            cursor: pointer;
            color: #FFFF;
            font-family: 'Lora';
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            border-color: rgba(225, 203, 107, 1) rgba(159, 107, 20, 1) rgba(236, 219, 122, 1) rgba(195, 161, 66, 1);
            border: 3px,solid;
            box-shadow: 6px 4px 33px rgb(73 47 0 / 23%);
            margin: 32px 0 0 88px;
        }

        .slider .slider-track .slide1 {
            display: grid;
            grid-template-columns: 220px 220px 220px;
            margin: 76px 0 0px 11px;
            gap: 68px;
        }

        .slider .slider-list .sliderlisttxt {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: white;
            margin: -60px 0 0 88px;
        }

        .slider .slider-list .slider-track .slide1 .btnslide1 {
            margin: 31px 0 0 86px;
        }
        .slider .slider-list .slider-track .slide1 .txtslide1 {
                margin: 58px 0 0 87px;
        }

        .slider .slider-list .slider-track .slide1 .btnslide13 {
            margin: 31px 0 0 86px;
        }
        .slider .slider-list .slider-track .slide1 .txtslide13 {
            margin: 36px 0 0 87px;
    }

    .slider .slider-track .slide1 .counterGoal {
        z-index: 100;
        position: absolute;
        margin: -79px 0 0 735px;
        display: block;
        height: auto;
        width: auto;
        font-size: 30px;
        color: white;
        background: rgba(0, 0, 0, 0);
    }
    
    


    .slider .slider-track .slide2 {
        display: grid;
        grid-template-columns: 220px 220px 220px;
        margin: 76px 0 0px 0;
        gap: 54px;
    }

    .slider .slider-list .slide2 .sliderlisttxt {
        font-size: 14px;
    }

    .slider .slider-list .slider-track .slide2 button {
        width: 140px;
        height: 46px;
        font-size: 16px;
    }

    .slider .slider-list .slider-track .slide2 .txtslide2 {
        margin: 12px 0 0 103px;
    }

    .slider .slider-list .slider-track .slide2 .btnslide2 {
        margin: 53px 0 0 100px;
    }

    .slider .slider-list .slider-track .slide2 .txtslide23 {
        margin: 11px 0 0 103px;
    }

    .slider .slider-list .slider-track .slide2 .btnslide23 {
        margin: 52px 0 0 100px;
    }

    .slider .slider-track .slide2 .counterGoal {
        margin: -79px 0 0 737px;
        font-size: 30px;
    }


    .slider .slider-track .slide3 {
        display: grid;
        grid-template-columns: 220px 220px 220px;
        margin: 76px 0 0px 0;
        gap: 54px;
    }

    .slider .slider-list .slide3 .sliderlisttxt {
        font-size: 14px;
    }

    .slider .slider-list .slider-track .slide3 button {
        width: 140px;
        height: 46px;
        font-size: 16px;
    }

    .slider .slider-list .slider-track .slide3 .txtslide3{
        margin: 35px 0 0 100px;
    }

    .slider .slider-list .slider-track .slide3 .btnslide3{
        margin: 57px 0 0 99px;
    }

    .slider .slider-list .slider-track .slide3 .txtslide33{
        margin: 35px 0 0 99px;
    }

    .slider .slider-track .slide3 .counterGoal {
        margin: -78px 0 0 736px;
        font-size: 30px;
    }
    .slider .slider-list .slider-track .slide3 .txtslide33 {
        margin: 56px 0 0 99px;
    }

    .slider .slider-track .slide4 {
        display: grid;
        grid-template-columns: 220px 220px 220px;
        margin: 76px 0 0px 0;
        gap: 54px;
    }

    .slider .slider-list .slider-track .slide4 .txtslide41{
        margin: 59px 0 0 90px;
    }

    .slider .slider-list .slider-track .slide4 .txtslide42{
        margin: 74px 0 0 90px;
    }

    .slider .slider-list .slider-track .slide4 .txtslide44{
        margin: 30px 0 0 87px;
    }
    
    .slider .slider-track .slide4 .counterGoal {
        margin: -78px 0 0 736px;
    }

    .slider .slider-list .sliderlisttxt {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: white;
        margin: -60px 0 0 88px;
    }

    .slider .slider-list .slider-track .slide4 .txtslide44 {
        margin: 50px 0 0 87px;
    }


    .prevue .prevuetxt {
        margin: 0 130px 42px 30px;    
    }

    .prevue button {
        margin: 5px 0 0 32px;
    }

    .prevue .prevueimg {
        margin: 0 0 0px 574px;
        width: 450px;
        height: 355px;
    }

    h6 {
        margin: -526px 0 42px 30px;
        color: white;
        text-transform: uppercase;
    }

    .questionWrapper {
        margin: 0 0 190px 30px;
    }

    .questionWrapper .youHaveQ {
        margin: 42px 0 23px 0;    
    }


    .prevue {
        margin: -85px 0 880px 0;
    }

    .questions .questionsRectangle{
        width: 420px;
        height: 574px;
        position: absolute;
        margin: 60px 0 0 604px;
    }

    .sucsesfullcases .scFon {
        width: 1024px;
        height: 657px;
        margin: 95px 0 0px 2px;
    }

    h3 {
        margin: -480px 290px 68px 330px;
        width: 400px;
    }

    h4 {
        margin: 0 572px 32px 380px; 
    }

    .numbers .nubmersText {
        margin: 0 572px 58px 226px;
    }


    .numbers .numbersWrapperFirst {
        margin: 0 305px 16px 170px;
        display: inline-block;
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        font-family: 'Montserrat';
        color: #3CBA92;
        width: 761px;
    }

    .numbers .numbersWrapperFirst .block16 {
        padding: 0 90px 0 0;
    }

    .numbers .numbersWrapperFirst .block1000 {
        padding: 0 100px 0 0;
    }

    .numbers .numbersWrapperFirst .block85 {
        padding: 0 120px 0 0;
    }

    .numbers .numbersWrapperSecond {
        margin: 0 305px 0px 174px;
    }

    .numbers .numbersWrapperSecond .years {
        padding: 0 101px 0 0;
    }

    .numbers .numbersWrapperFirst .block1000 {
        padding: 0 120px 0 0;
    }

    .numbers .numbersWrapperSecond .clients {
        padding: 0 160px 0 0;
    }

    .numbers .numbersWrapperFirst .block85 {
        padding: 0 140px 0 0;
    }

    .numbers .numbersWrapperSecond .clientsAgain {
        padding: 0 142px 0 0;
    }


    .feedbacks img {
        margin: 20px 0 190px 15px;
        width: 1000px;
    }

    .guarantees img {
        width: 1000px;
        margin: 0 34px 0px 10px;
    }

    .text-wrapper {
        margin: -710px 0 0 -115px;
    }

    .animated-words span {
        font-size: 50px;
        color: white;
    }

    .animated-words .safety {
        margin: 0 0 0 -145px;
    }

    .animated-words .confidentiality {
        margin: 0 0 0 -245px;
    }

    .animated-words .effciency {
        margin: 0 0 0 -150px;
    }


    .animated-words .competence {
        margin: 0 0 0 -175px;
    }

    .animated-words .understand {
        margin: 0 0 0 -110px;
    }

    .animated-words .loyalty {
        margin: 0 0 0 -110px;
    }

    .animated-words .ways {
        margin: 0 0 0 -382px;
    }

    .guarantees {
        margin: 0px 0 740px 0;
    }

    .guarantees .guaranteesFtxt {
        margin: -530px 520px 37px 356px;
        width: 333px;
    }

    .office .officeTxtfitst {
        text-transform: uppercase;
        color: white;
        margin: 0 0 32px 30px;
    }

    .office .officeTxtsecond {
        margin: 0 0 42px 30px;
    }

    .office .officeimg {
        width: 964px;
        height: 691px;
        margin: 0 135px 190px 186px;
    }


    .office .officeimg {
        width: 964px;
        height: 691px;
        margin: 0 0px 190px 30px;
    }

    footer .footerLogo {
        width: 189px;
        height: 84px;
        margin: 90px 0 141px 410px;
    }

    footer {
        width: 100%;
        height: 700px;
    }    

    footer .footerFirstTxt {
        position: absolute;
        display: grid;
        width: 290px;
        margin: -80px 0 0 30px;
    }

    footer .footerThirdTxt {
        margin: -52px 0 0 400px;
    }

    footer .footerSecondTxt {
        margin: -85px 0 0 825px;
        width: 90px;
        position: absolute;
        display: grid;
    }

footer {
    width: 100%;
    height: 454px;
}

footer .footerLogo {
    width: 189px;
    height: 84px;
    margin: 90px 0 100px 410px;
}

.left_case img {
    
     margin-left: 0px; 
    
}

.slider {
    margin: 50px 0px 120px 80px;
}
/*  */
}

@media (max-width: 428px) {
    #language #drop_lang .txt_ru {
        display:none;
    }
    #language li{
        display: none;
    }

    #language #drop_lang .drop_lang {
        display: none;
    }

    .iconsTwo {
        display: none;
    }

    #language .case_phone {
        display: none;
    }

    .photos .goal_photo {
        width: 378px;
        height: 415px;
        margin: 0 0 0 0px;
    }

    .wrapper_head-text {
        margin: -145px 0px 0px 4px;
        padding: 30px 0px 0px;
        font-size: 30px;
        width: 398px;
        height: 156px;
    }

    .case_header .case_menu .three_menu {
        display: none;
    }

    .logo img {
        padding-top: 25px;
        margin-left: 15px;
        background: rgba(0, 0, 0, 0);
    }

    .wrapper_cases {
        padding: 890px 0px 75px 140px;
    }

    .wrapper_head-text div{
        font-size: 26px;
        display: none;
    }

    .wrapper_head-text .head_one{
        font-size: 26px;
        display: none;
    }

    .wrapper_head-text .head-text {
        text-align: center;
        height: 200px;
        font-size: 24px;
        width: 309px;
    }

    .wrapper_head-text .newBLOCK{
        /* width: 396px;
        height: 157px; */
        font-size: 32px;
        display: block;
        text-align: center;
    }

    
.wrapper_head-text .newBLOCK span{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(rgba(231, 212, 115, 1) ,rgba(185, 126, 28, 1) , rgba(237, 220, 123, 1),rgba(231, 212, 115, 1));
}

.wrapper_head-text .head_btn{
    display: none;
}

.wrapper_head-text .newBLOCK button{
    display: block;
    width: 342px;
    height: 76px;
    margin: 42px 0 0 27px;
}

.wrapper_head-text .newBLOCK .head-text{
    display: block;
    width: 398px;
    height: 93px;
}

.photos .goal_photo {
    /* width: 378px; */
    /* height: 508px; */
    /* margin: 0 0 0 0px; */
    display: none;
}

.wrapper_head-text .newBLOCK .goal_photo{
    display: block;
    width: 378px;
    height: 508px;
}

.case_header{
    margin: 500px 0 0 0;
}

.logo img {
    margin: -330px 0px 0px;
}

.hamburger{
    display: block;
}


.wrapper_head-text {
    margin: -116px 0px 0px 4px;
}

.wrapper_head-text .newBLOCK .goal_photo {
    display: block;
    width: 409px;
    height: 508px;
    margin: 0 0 0 -7px;
}

#language .hamburger span{
    display: block;
    width: 48px;
    height: 2px;
    background: linear-gradient(rgba(231, 212, 115, 1),
    rgba(160, 108, 21, 1),
    rgba(237, 220, 123, 1),
    rgba(195, 160, 65, 1));
    margin: 10px 0 0 0;
    
}
#language .hamburger {
    background:rgba(0, 0, 0, 0);
    margin: -187px -8px 0 0px;
    cursor:pointer;
}

.menu{
    display: block;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.menu .menu__block{
    position: relative;
    width: 428px;
    height: 555px;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    border-radius: 0px 0px 20px 20px;
    
    transition: all 0.6s;
    z-index: 10;
}

.menu .menu__close{
    position: absolute;
    margin: 40px 15px 0 360px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.menu .menu__close svg{
    background: rgba(0, 0, 0, 0);
}
.menu .menu__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(29, 29, 29, 0.67);
    opacity: 0.67;
}

.menu.active{
    left:0;
    visibility: visible;
    opacity: 1;
}


.menu__block .menu__img {
    background: rgba(0, 0, 0, 0);
    margin: 79px 111px 60px 96px;
    width: 189px;
    height: 84px;
}

.menu__block .case_phone{
    background: rgba(0, 0, 0, 0);
    margin: 0 0 0 110px;

}
.menu__block .case_phone a{
    background: rgba(0, 0, 0, 0);
    text-decoration:none;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
    line-height: 22px;
    margin: 0 0 0 4px;
    width: 154px;
    font-size: 18px;
}
.menu__block .case_phone img{
    background: rgba(0, 0, 0, 0);
    width: 24px;
    height: 24px;
}

.case_header .case_menu .menu__three{
    display: block;
    margin: 24px 0 0 173px;
    background: rgba(0, 0, 0, 0);
    padding: 0 0 0 0;
     display: flex;
    flex-direction: column; 
    
    
}
.case_header .case_menu .menu__three a{
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 22px;
    padding: 22px 0 0 0;
}


.menu .menu__block #drop_lang .txt_ru{
    background: rgba(0, 0, 0, 0);
    color:white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat';
    line-height: 22px;
    margin: 34px 0 0 176px
}
.menu .menu__block #drop_lang {
    background: rgba(0, 0, 0, 0);
} 

.menu .menu__block #drop_lang li a img{
    background: rgba(0, 0, 0, 0);
    margin: -24px 0 0 212px;
    position: absolute;
}

.menu .menu__block #drop_lang li {
    background: rgba(0, 0, 0, 0);
}

.menu .menu__block #drop_lang li a{
    background: rgba(0, 0, 0, 0);
    list-style: none;
    
}

.menu .menu__block #drop_lang ul li{
    list-style: none;
    background: rgba(0, 0, 0, 0);
}
.menu .menu__block #drop_lang li .ru{
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-family: 'Montserrat';
}
 
ul.drop_lang {
    background: rgba(0, 0, 0, 0);
   margin: -22px 0 0 177px;
}
.menu .menu__block #drop_lang ul .uplistarrow {
    margin: -62px 0 0 36px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
}

.menu .menu__block #drop_lang li .ru:hover{
    font-weight: 700;
}
.menu .menu__block #drop_lang:hover li a img{
    display: none;
}
.menu .menu__block #drop_lang .txt_ru:hover#drop_lang li a img{
    display: none;
}
.menu.active {
    left: 0;
    visibility: visible;
    opacity: 1;
    background: rgba(0,0,0,0);
}

.wrapper_cases {
    display: grid;
    grid-template-columns: 450px;
    padding: 157px 0px 75px 16px;
    /* grid-template-rows: minmax(245px,auto) minmax(255px,auto) minmax(265px,auto);
    grid-auto-rows: minmax(255px,auto); */

}

.goal_photo222 {
    display: block;
    width: 410px;
    height: 508px;
    padding: 140px 0 0 0;
    margin: 0px 0 0 0;
}
.logo img {
    margin: -495px 0px 0px 0;
}
#language .hamburger {
    background: rgba(0, 0, 0, 0);
    margin: -353px -8px 0 0px;
    cursor: pointer;
}
.wrapper_head-text {
    margin: -203px 0px 0px 4px;
}



.prevue {
    margin: -85px 0 1084px 0;
}

.prevue .prevueimg {
    margin: 400px 0 0px 6px;
    width: 398px;
    height: 314px;
}

.prevue .prevuetxt {
    margin: 0 130px 42px 4px;
    font-size: 28px;
    width: 398px;
    text-align: center;
    height: 136px;
    z-index: 2;
    position: relative;
    background: rgba(0,0,0,0);
}

.prevueimgmob{
    display: block;
    position: absolute;
    margin: 0 0 0 0;
}
.prevue button {
    margin: 5px 0 0 32px;
    position: relative;
}
/*  */

.slider{
    display: none;
}
.slidermobsection{
    display: block;
    margin: 0 0 500px 0;
}

#slidermob {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
  }
  
  #slidermob .wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slidermob .slidemob {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 500px;
    
    
    line-height: 300px;
  }
  
  
   .control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background:rgba(0, 0, 0, 0);
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
    border: 0;
    
    margin: -218px 0 0 360px;
    font-size: 30px;
}
.control_prev{
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background:rgba(0, 0, 0, 0);
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
    border: 0;
    margin: -216px 0 0 -4px;
    font-size: 30px;
}

.slidermobsection .slidemob .slidermobtxt{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
    line-height: 24px;
    margin: -200px 0 0 136px;
    font-weight: 600;
}


.slidermobsection .slidemob .slidermobp{
    margin: 0 0 0 0;
    padding: 25px 0 0 137px;
    color:white;
    font-size: 18px;
    font-family: 'Lora';
    font-weight: 400;
    line-height: 22px;
}

.slidermobsection .slidemob img{
    margin: 0 0 0 40px;
    width: 60px;
    height: 60px;
}

.slidermobsection .slidemob .buttonGoldmob{
    width: 270px;
    height: 68px;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    appearance: none;
    cursor: pointer;
    color: #FFFF;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    border-color: rgba(225, 203, 107, 1) rgba(159, 107, 20, 1) rgba(236, 219, 122, 1) rgba(195, 161, 66, 1);
    border: 3px,solid;
    box-shadow: 6px 4px 33px rgb(73 47 0 / 23%)
}

.slidermobsection .slidemob .buttonGoldmob:active {
    -webkit-box-shadow: 1px 1px 22px 0px rgba(255,187,51,1);
-moz-box-shadow: 1px 1px 22px 0px rgba(255,187,51,1);
box-shadow: 1px 1px 22px 0px rgba(255,187,51,1);
}

.slidermobsection .slidemob .buttonGoldmob:hover {
    color: black;
    background: linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

.slidermobsection .slidemob .buttonGoldmob {
    margin: 64px 0 0 68px;
    position: absolute;
}

.slidermobsection .slider-servicemob{
    font-size: 28px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 34px;
    color:white;
    margin: 0 0 34px 92px;
}

.slidermobsection .slider-txtmobGoal{
    font-size: 18px;
    color: white;
    font-weight: 400;
    font-family: 'Lora';
    line-height: 23px;
    width: 363px;
    height:46px;
    margin: 0 0 0 25px;
    text-align: center;
}

.control_next {
    margin: -218px 0 0 340px;
    color:white;  
}

.control_prev {
    margin: -216px 0 0 22px;
    color:white;
}

.counterGoalMob{
    color:white;
    margin: 0 0 0 182px;
    font-size: 24px;
    font-family: 'Lora';
    line-height: 30px;
    font-weight: 400;
    position: absolute;
}
.slidermobsection {
    display: block;
    margin: 0 0 0px 0;
}

h6 {
    margin: -526px 0 42px 45px;
    font-size: 30px;
}

.new li {
    background: rgba(0, 0, 0, 0);
    list-style: none;
    margin: 0 0 0 50px;
    font-size: 18px;
}

.new li:hover ul {
    /* background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%); */
    font-size: 16px;
}

.new {
    width: 350px;
    height: auto;
}
.questionWrapper .youHaveQ {
    margin: 42px 0 23px 48px;
}

.questionWrapper .youHaveQF a {
    font-size: 23px;
    font-weight: 700;
    font-family: 'Lora';
    line-height: 29px;
    text-align: center;
    width: 290px;
    
    
}

.questionWrapper .youHaveQF{
    width: 299px;
    height: auto;
    margin: 0 0 0 23px;
    text-align: center;
}

.prevue {
    margin: -74px 0 1084px 0;
}
.sucsesfullcases .scFon {
    display: none;
}

.scFonmob{
    display: block;
   
    width: 428px;
    height: auto;
    margin: 0 0 0 0;
}

.questions .questionsRectangle {
    display: none;
}

.sucsesfullcases .scWrapper marquee {
    width: 428px;
    background: rgba(0, 0, 0, 0);
}

h3 {
    margin: -500px 290px 68px 21px;
    width: 400px;
    font-size: 30px;
}


h4 {
    margin: 0 572px 32px 53px;
    font-size: 30px;
}

.numbers .nubmersText {
    width: 398px;
    height: 115px;
    text-align: center;
    margin: 0 572px 58px 4px; 
}

.sucsesfullcases {
    margin: 0 0 200px 0;
}

.numbers .numbersWrapperFirst{
    display: none;
}

.numbers .numbersWrapperSecond{
    display: none;
}

.numbers .mobnumberswrapper{
    display: block;
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: minmax(160px,auto) minmax(160px,auto);
    margin: 0 0 0 50px;
}

.numbers .mobnumberswrapper .numbersmob{
    background: linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Montserrat';
    margin: 0 0 16px 0;
}

.numbers .mobnumberswrapper .yearsmob{
    color: white;
    font-size: 18px;
    margin: 0 0 0px -29px;
    font-family: 'Lora';
}


.numbers .mobnumberswrapper .clientsmob{
    font-family: 'Lora';
    color: white;
    font-size: 18px;
    margin: 0 0 0 -21px;
}

.numbers .mobnumberswrapper .clientsAgainmob{
    font-family: 'Lora';
    color: white;
    font-size: 18px;
    margin: 0 0 0 -62px;
    width: 205px;
    text-align: center;
}

.numbers .mobnumberswrapper .Iprojectmob{
    font-family: 'Lora';
    color: white;
    font-size: 18px;
    margin: 0 0 0 0;
    width: 159px;
    text-align: center;
}

.numbers .mobnumberswrapper .numbersmob75 {
    margin: -3px 0 16px 40px;
}

.numbers .mobnumberswrapper .numbersmob16 {
    margin: 0 0 16px 14px;
}

.numbers .mobnumberswrapper .yearsmob {
    margin: 0 0 0px -15px;
}

.numbers .mobnumberswrapper .numbersmob100 {
    margin: 0 0 16px 24px;
}

.numbers .mobnumberswrapper .clientsmob {
    margin: 0 0 0 -2px;
}



.feedbacks .feedimg{
    display: none;
}

.feedbacks .feedbacksmob{
    display: block;
    margin: 0 0 110px 0;
}

.feedbacks  .feedbacksheader{
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0 0 0 124px;
    color:white;
}

.feedbacks{
    margin: 0 0 260px 0;
}

.guarantees .mobguarant{
    display: block;
    width: 400px;
    height: 592px;
    margin: 0 0 0 2px;
}

.guarantees .imgguarant{
    display: none;
}


.guarantees .guaranteesFtxt {
    margin: -530px 520px 37px 42px;
    width: 333px;
}


.animated-words span{
    font-size: 30px;
}

.animated-words .safety {
    margin: 0 0 0 -72px;
}

.animated-words .confidentiality {
    margin: 0 0 0 -128px;
}

.animated-words .effciency {
    margin: 0 0 0 -72px;
}

.animated-words .competence {
    margin: 0 0 0 -86px;
}

.animated-words .understand {
    margin: 0 0 0 -45px;
}

.animated-words .loyalty {
    margin: 0 0 0 -45px;
}

.animated-words .ways {
    margin: 0 0 0 -150px;
}
.guarantees .mobguarant {
    display: block;
    width: 424px;
    height: 592px;
    margin: 0 0 0 -10px;
}

.guarantees .guaranteesFtxt {
    margin: -530px 520px 37px 45px;
}

.office {
    margin: 750px 0 0 0;
}


footer .footerLogo {
    margin: 90px 0 100px 120px;
}

footer .footerFirstTxt {
    margin: -80px 0 0 72px;
}


footer .footerSecondTxt {
    margin: 140px 0 0 150px;
}


footer {
    width: 100%;
    height: 900px;
}

footer .footerThirdTxt {
    margin: 320px 0 0 35px;
}

footer .footerFirstTxt p {
    font-family: 'Montserrat';
    width: 290px;
    text-align: center;
    padding: 0 0 24px 0px;
}

footer .footerSecondTxt {
    margin: 155px 0 0 146px;
}


footer .footerLogo {
    margin: 90px 0 100px 110px;
}

footer .footerThirdTxt {
    margin: 320px 0 0 24px;
    width: 359px;
    text-align: center;
}

footer .footerFirstTxt {
    margin: -80px 0 0 64px;
}


footer .footerSecondTxt {
    margin: 155px 0 0 140px;
}

footer .footerLogo {
    margin: 90px 0 100px 107px;
}

footer {
    width: 100%;
    height: 850px;
}

.feedbacks .feedbackslide{
    width: 400px;
}


/*  */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-weight: 400;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-weight: 400;
    margin: -308px 5px 0px 6px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    
    padding: 28px;
    color: white;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-weight: 400;
   
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin: 0 0 0 -11px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: white;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-weight: 400;
    
}


.slideshow-container .mySlides .numbertext{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Lora';
    line-height: 31px;
    color:white;
    margin: 0 0 0 196px;
    position: absolute;
}
.slideshow-container .mySlides .numbertext {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Lora';
    line-height: 31px;
    color: white;
    margin: 15px 0 0px 196px;
    position: absolute;
}

.slideshow-container {
    margin: 35px 0 0 -11px;
}

.slideshow-container .mySlides img {
    margin: 65px 0 0 18px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    /* padding: 16px; */
    color: white;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-weight: 400;
    margin: -208px 31px 0px 40px;
    padding: 0 0 0 0;
}

.next,.prev {
    padding:0 0 0 0;
}
.mobfeedback{
    display: block;
}
.menu__block .case_phone a {
    margin: 0 0 0 9px;   
}
}

@media(max-width: 1024px){
   
.slider .slider-arrows {
    margin: 6px 0px 0px 680px;
    position: relative;
    z-index: 2;
}

.slider .slider-track .slide1 {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    margin: 76px 0 0px 2px;
    gap: 68px;
}

.slider .slider-track .slide1 .counterGoal {
    margin: -79px 0 0 733px;  
}

.slider .slider-track .slide2 .counterGoal {
    margin: -79px 0 0 734px;
}

.slider .slider-track .slide3 .counterGoal {
    margin: -78px 0 0 733px;
}

.slider .slider-track .slide4 .counterGoal {
    margin: -78px 0 0 734px;
}

.partnersimg {
    width: 1024px;
    height: 636px;
}

.txtpartners {
    margin: -420px 0 42px 358px;
}

.article .articletxt {
    margin: 0 0 32px 30px;
}


.article .artcilep {
    display: none;
}

.article .artcilepmob{
    display: block;
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    margin: 0 0 50px -15px;
    color: white;
    width: 698px;
    height: 69px;
    text-align: left;
    margin: 0 0 42px 30px;
}
.article .articlewrapper div {
    width: 200px;
    height: 198px;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgb(73 47 0 / 23%);
    border-radius: 14px;
    display: block;
    text-align: center;
}


.article .articlewrapper {
    display: grid;
    grid-template-rows: minmax(1000px,auto);
    grid-template-columns: 250px 250px 250px 250px;
    row-gap: 0px;
    margin: 0 0 0 30px;
}

.office .lineclass {
    display: block;
    width: 270px;
    margin: -15px 0 22px 30px;
    height: 1px;
}

.office .officelocate1 {
    margin: 0 0 14px 30px;
}


.office .officelocate2 {
    margin: 0 0 14px 30px;
}

.office .officelocate2txt {
    margin: 0 0 0 30px;
}

.office .officeimg {
    width: 563px;
    height: 289px;
    margin: 0 0px 190px 30px;
}

.office .officeimg {
    width: 563px;
    height: 289px;
    margin: -284px 0px 190px 390px;
}
}
@media(max-width:428px){
    .partners  .partnersimg{
        display: none;
    }

    .partners  .partnersimgmob{
        display: block;
        width: 428px;
    }

    .txtpartners {
        width: 332px;
        margin: -420px 0 42px 61px;
    }

    .office .officeTxtfitst {
        margin: 0px 0 32px 110px;
    }

    .office .officelocate1 {
        margin: 0 0 14px 182px;
    }

    .office {
        margin: -190px 0 0 0;
    }

    .office .officeTxtsecond {
        margin: 0 0 42px 81px;
        width: 269px;
        text-align: center;
    }

    .office span {
        margin: 0 0 0 50px;
    }

    .office .officeimg {
        width: 398px;
        height: 204px;
        margin: 42px 0px 110px 6px;
    }


    footer .footerSecondTxt {
        margin: 155px 0 0 152px;
    }


    .office .officelocate2 {
        margin: 0 0 14px 182px;
    }

    .office .officelocate2txt {
        width: 270px;
        margin: 0 0 0 182px;
    }

    .office .officelocate2txt {
        width: 270px;
        margin: 0 0 0 80px;
        text-align: center;
    }


    .office .officelocate2 {
        margin: 0 0 14px 170px;
    }
    
    .office .officelocate1 {
        margin: 0 0 14px 181px;
    }

    .office {
        margin: -420px 0 0 0;
    }

    .article .articletxt {
        margin: 0 0 32px 88px;
    }

    .article .artcilepmob{
        display: none;
    }

    .article .artcilepmob428{
        display: block;
        margin: 0 0 50px -15px;
        color: white;
        width: 398px;
        height: 115px;
        text-align: center;
        margin: 0 0 42px 18px;
        font-size: 18px;
        font-family: 'Lora';
    }

    .office {
        margin: 421px 0 0 0;
    }

    .left_case img {
        margin-left: 0px;
        width: 400px;
        padding: 0 15px 0 0px;
    }
    .wrapper_cases {
        padding: 157px 0px 75px 16px;
    }


    .goal_photo222 {
        display: block;
        width: 410px;
        height: 508px;
        padding: 140px 0 0 0;
        margin: 0px 0 0 0px;
    }

    .goal_photo222 {
        display: block;
        width: 400px;
        height: 508px;
        padding: 140px 0 0 0;
        margin: 0px 0 0 9px;
    }

    .goal_photo222 {
        display: block;
        width: 408px;
        height: 508px;
        padding: 140px 0 0 0;
        margin: 0px 0 0 2px;
    }

    .feedbacks {
        margin: -190px 0 260px 0;
    }


    /*  */
    


    .article .articlewrapper {
        display: grid;
        grid-template-columns: 300px;
        row-gap: 0px;
        margin: 0px 0 0px 59px;
        padding: 0px 0 0px 0;
        grid-template-rows: 233px;
    }

    .article .articlewrapper div {
        width: 300px;
        height: 200px;
        background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
        box-shadow: 6px 4px 33px rgb(73 47 0 / 23%);
        border-radius: 14px;
        display: block;
        text-align: center;
        margin: 0px 0 30px 0;
    }

    .article .artcilepmob428 {
        display: block;
        margin: 0 0 50px -15px;
        color: white;
        width: 398px;
        height: 115px;
        text-align: center;
        margin: 0 0 42px 10px;
        font-size: 18px;
        font-family: 'Lora';
    }


    .article .articletxt {
        margin: 0 0 32px 81px;
    }


    .office {
        margin: 210px 0 0 0;
    }

}
    @media (min-width: 2560px){
    .case_header .case_menu .three_menu {
        margin: 0px 0px -2px 600px;
    }

    #language #drop_lang .txt_ru {
        margin: -16px 0px 0px -955px;
    }

    .case_header #language .case_phone {
        margin: 58px 0px 0px -1122px;
    }

    #language #drop_lang img {
        margin: 0px 10px -25px -871px;
    }
}
    
@media (max-width: 1024px){
.iconsTwo {
    margin: 32px 0px 0px -377px;
}

.questions .questionsRectangle {
    width: 420px;
    height: 574px;
    position: absolute;
    margin: 60px 0 0 604px;
    background: url('../img/newDesign/png\ \(37\).png') no-repeat;
}
}

@media (max-width: 428px){

    .numbers .mobnumberswrapper {
        display: block;
        display: grid;
        grid-template-columns: 190px 165px;
        grid-template-rows: minmax(160px,auto) minmax(160px,auto);
        margin: 0 0 0 49px;
    }

    .numbers .mobnumberswrapper {
        display: block;
        display: grid;
        grid-template-columns: 190px 165px;
        grid-template-rows: minmax(160px,auto) minmax(160px,auto);
        margin: 0 0 0 46px;
    }
.goal_photo222 {
    display: block;
    width: 408px;
    height: 508px;
    padding: 140px 0 0 0;
    margin: 0px 0 0 0px;
}

.prevueimgmob {
    display: block;
    position: absolute;
    margin: 0 0 0 -4px;
}


.text-wrapper {
    /* display: none; */
    margin: -710px 0 0 -115px;
    width: 411px;
}

.animated-words .safety {
    margin: 0 0 0 -13px;
}

.animated-words .confidentiality {
    margin: 0 0 0 -75px;
}

.animated-words .effciency {
    margin: 0 0 0 -13px;
}

.animated-words .competence {
    margin: 0 0 0 -28px;
}

.animated-words .understand {
    margin: 0 0 0 9px;
}

.animated-words .loyalty {
    margin: 0 0 0 11px;
}

.animated-words .ways {
    margin: -14px 0 0 -62px;
    height: 100px;
    width: 350px;
}

.partners .partnersimgmob {
    display: block;
    width: 420px;
}

.partners .partnetsWrapper marquee {
    width: 420px;
    background: rgba(0, 0, 0, 0);
}

.scFonmob {
    display: block;
    width: 420px;
    height: auto;
    margin: 0 0 0 0;
}

.sucsesfullcases .scWrapper marquee {
    width: 420px;
    background: rgba(0, 0, 0, 0);
}

.prevueimgmob {
    display: block;
    position: absolute;
    width: 410px;
    margin: 0 0 0 -4px;
}

.numbers .mobnumberswrapper {
    display: block;
    display: grid;
    grid-template-columns: 190px 165px;
    grid-template-rows: minmax(160px,auto) minmax(160px,auto);
    margin: 0 0 0 41px;
}

.partners .partnersimgmob {
    display: block;
    width: 410px;
}

.partners .partnetsWrapper marquee {
    width: 410px;
    background: rgba(0, 0, 0, 0);
}

.scFonmob {
    display: block;
    width: 410px;
    height: auto;
    margin: 0 0 0 0;
}

.sucsesfullcases .scWrapper marquee {
    width: 410px;
    background: rgba(0, 0, 0, 0);
}

.case_header {
    margin: 500px 0 0 0;
    width: 400px;
}

.wrapper_cases {
    display: grid;
    grid-template-columns: 410px;
    padding: 157px 0px 75px 16px;
}

.wrapper_cases {
    display: grid;
    grid-template-columns: 370px;
    padding: 157px 0px 75px 16px;
    margin: -179px 0 0 7px;
    row-gap: 0px;
    column-gap: 0px;
}

.txtpartners {
    width: 332px;
    margin: -420px 0 42px 52px;
}

.partners .partnetsWrapper marquee {
    width: 408px;
    background: rgba(0, 0, 0, 0);
}
.mobfeedback {
    display: block;
    width: 408px;
}

.feedbacks .feedbacksheader {
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0 0 0 124px;
    color: white;
    width: 180px;
}

.guarantees .mobguarant {
    display: block;
    width: 415px;
    height: 592px;
    margin: 0 0 0 -2px;
}

.article .articletxt {
    margin: 0 0 32px 81px;
    width: 300px;
}

.article .artcilepmob428 {
    display: block;
    margin: 0 0 50px -15px;
    color: white;
    width: 390px;
    height: 115px;
    text-align: center;
    margin: 0 0 42px 10px;
    font-size: 18px;
    font-family: 'Lora';
}

.article .artcilepmob428 {
    display: block;
    margin: 0 0 50px -15px;
    color: white;
    width: 390px;
    height: 115px;
    text-align: center;
    margin: 0 0 42px 12px;
    font-size: 18px;
    font-family: 'Lora';
}
.article .articletxt {
    margin: 0 0 32px 81px;
    width: 300px;
}

.goal_photo222 {
    display: block;
    width: 408px;
    height: 508px;
    padding: 140px 0 0 0;
    margin: 0px 0 0 2px;
}

.menu .menu__block {
    position: relative;
    width: 411px;
    height: 555px;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgb(73 47 0 / 23%);
    border-radius: 0px 0px 20px 20px;
    transition: all 0.6s;
    z-index: 10;
}

.slidermobsection {
    display: block;
    width: 411px;
    margin: 0 0 0px 0;
}

.prevueimgmob {
    display: block;
    position: absolute;
    width: 410px;
    margin: 0 0 0 0px;
}

.slideshow-container {
    margin: 35px 0 0 -11px;
    width: 411px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    /* padding: 16px; */
    color: white;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-weight: 400;
    margin: -207px 31px 0px 47px;
    padding: 0 0 0 0;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    /* padding: 16px; */
    color: white;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-weight: 400;
    margin: -207px 26px 0px 42px;
    padding: 0 0 0 0;
}

.guarantees .mobguarant {
    display: block;
    width: 411px;
    height: 592px;
    margin: 0 0 0 -2px;
}

.office .officeTxtfitst {
    margin: 0px 0 32px 100px;
}

.office .officelocate1 {
    margin: 0 0 14px 164px;
}

.office .officeTxtsecond {
    margin: 0 0 42px 69px;
    width: 269px;
    text-align: center;
}

.office .officelocate1 {
    margin: 0 171px 14px 170px;
}
.office .officeTxtfitst {
    margin: 0px 0px 32px 98px;
}

.office .officeTxtsecond {
    margin: 0 80px 42px 72px;
    width: 269px;
    text-align: center;
}

.office .lineclass {
    display: block;
    width: 270px;
    margin: -15px 0 22px 19px;
    height: 1px;
}

.office .officelocate2 {
    margin: 0 0 14px 167px;
}

.office .officelocate2txt {
    width: 270px;
    margin: 0 0 0 70px;
    text-align: center;
}

footer .footerThirdTxt p {
    width: 290px;
    font-family: 'Montserrat';
}

footer .footerThirdTxt {
    margin: 320px 0 0 61px;
    width: 359px;
    text-align: center;
}

footer .footerThirdTxt p {
    width: 290px;
    font-family: 'Montserrat';
    padding: 24px 0 0 5px;
}
footer .footerThirdTxt a {
    font-family: 'Montserrat';
    width: 300px;
    padding: 24px 0 0 0px;
}

footer {
    width: 411px;
    height: 972px;
}

footer .footerSecondTxt {
    margin: 155px 0 0 141px;
    text-align: center;
}

.footerlinks {
    margin: 0 0 24px 11px;
}

footer .footerFirstTxt .footergmail {
    padding: 24px 0 24px 29px;
}

footer .footerSecondTxt {
    margin: 184px 0 0 141px;
    text-align: center;
}

footer .footerThirdTxt {
    margin: 340px 0 0 61px;
    width: 359px;
    text-align: center;
}

footer .footerThirdTxt {
    margin: 340px 0 0 61px;
    width: 330px;
    text-align: center;
}



.numbers .mobnumberswrapper {
    display: block;
    display: grid;
    grid-template-columns: 165px 165px;
    grid-template-rows: minmax(159px,auto) minmax(160px,auto);
    margin: 0 0 0 54px;
}

h4 {
    margin: 0 572px 32px 66px;
    font-size: 30px;
}

.numbers .nubmersText {
    width: 398px;
    height: 115px;
    text-align: center;
    margin: 0 572px 58px 14px;
}



/* body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  } */


  h4 {
    color: white;
    margin: 0px 572px 32px 16px;
    width: 378px;
}
 
.numbers .nubmersText {
    width: 352px;
    height: 69px;
    text-align: center;
    margin: 0px 578px 58px 25px;
    color: white;
}

h4 {
    color: white;
    margin: 0px 572px 32px 59px;
    width: 378px;
}

.numbers .nubmersText {
    width: 361px;
    height: 69px;
    text-align: center;
    margin: 0px 0 94px 28px;
    color: white;
}


body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.logo img {
    margin: 9px 0px 0px 15px;
}


}

@media (max-width: 428px){
.questionWrapper .youHaveQF {
    width: 299px;
    height: auto;
    margin: 0 0 0 21px;
    text-align: center;
}



}

@media (max-width: 1024px){
    .sucsesfullcases .scWrapper marquee {
        width: 1014px;
        background: rgba(0, 0, 0, 0);
    }

    body
    {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
    }
  
    html{
  
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
  }

}

.txtpartners {
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: -420px 0 42px 585px;
}


@media(max-width:428px){
    .txtpartners {
        font-size: 32px;
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
        line-height: 39px;
        margin: -420px 0 42px 45px;
    }

    .slidermobsection .slider-txtmobGoal {
        font-size: 18px;
        color: white;
        font-weight: 400;
        font-family: 'Lora';
        line-height: 23px;
        width: 363px;
        height: 46px;
        margin: 0 0 34px 25px;
        text-align: center;
    }

    .control_prev {
        margin: -222px 0 0 22px;
        color: white;
    }

    .control_next {
        margin: -225px 0 0 340px;
        color: white;
    }

    .control_prev {
        margin: -222px 0 0 23px;
        color: white;
    }

}


@media (max-width: 1024px){
.slider .slider-track .slide1 .counterGoal {
    margin: -79px 0 0 730px;
}

.slider .slider-track .slide2 .counterGoal {
    margin: -79px 0 0 731px;
}


.slider .slider-track .slide3 .counterGoal {
    margin: -79px 0 0 731px;
}

.slider .slider-track .slide4 .counterGoal {
    margin: -79px 0 0 731px;
}

.txtpartners {
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: -420px 0 42px 353px;
}

.slider .slider-track .slide1 {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    margin: 76px 0 0px 0px;
    gap: 68px;
}

.numbers .nubmersText {
    margin: 0 572px 58px 209px;
}


.animated-words .safety {
    margin: 0 0 0 -137px;
}

.animated-words .confidentiality {
    margin: 0 0 0 -231px;
}

.animated-words .effciency {
    margin: 0 0 0 -137px;
}

.animated-words .competence {
    margin: 0 0 0 -165px;
}


.animated-words .understand {
    margin: 0 0 0 -94px;
}

.animated-words .loyalty {
    margin: 0 0 0 -94px;
}

.animated-words .ways {
    margin: 0 0 0 -364px;
}


}

@media(max-width:428px){
    .numbers .nubmersText {
        margin: 0 572px 85px 23px;
    }


    .txtpartners {
        font-size: 32px;
        color: white;
        font-family: 'Montserrat';
        font-weight: 700;
        line-height: 39px;
        margin: -420px 0 42px 50px;
    }


    .animated-words .safety {
        margin: 0 0 0 -13px;
    }

    .animated-words .confidentiality {
        margin: 0 0 0 -75px;
    }

    .animated-words .effciency {
        margin: 0 0 0 -13px;
    }

    .animated-words .competence {
        margin: 0 0 0 -28px;
    }


    .animated-words .competence {
        margin: 0 0 0 -28px;
    }

    .animated-words .understand {
        margin: 0 0 0 9px;
    }

    .animated-words .loyalty {
        margin: 0 0 0 11px;
    }

    .animated-words .ways {
        margin: -14px 0 0 -62px;
        height: 100px;
        width: 350px;
    }

    footer .footerSecondTxt {
        margin: 184px 0 0 155px;
        text-align: center;
    }
}