@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.prevue{
    margin: -85px 0 280px 0;
}

.prevue .prevueimg{
    margin: 0 0 0px 814px;
    position: absolute;
}

.prevue .prevuetxt{
    text-transform: uppercase;
    width: 470px;
    margin: 0 130px 42px 135px;
    font-size: 32px;
    font-family: 'Montserrat';
    line-height: 39px;
    font-weight: 700;
    color:white;
    padding: 82px 0 0 0;
}

.prevue button{
    width: 343px;
    height: 68px;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    appearance: none;
    cursor: pointer; 
    color: #FFFF;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    border-color: rgba(225, 203, 107, 1) rgba(159, 107, 20, 1) rgba(236, 219, 122, 1) rgba(195, 161, 66, 1);
    border: 3px,solid;
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    margin: 32px 0 0 137px;
}
.prevue button:hover {
    color: black;
    background: linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.prevue button:active {
    -webkit-box-shadow: 1px 1px 22px 0px rgba(255,187,51,1);
-moz-box-shadow: 1px 1px 22px 0px rgba(255,187,51,1);
box-shadow: 1px 1px 22px 0px rgba(255,187,51,1);
}

.questions .questionsRectangle {
    width: 705px;
    height: 471px;
    margin: 0 0 0 814px;
    padding: 130px 0 0 0 0;
}

h6 {
    margin: -526px 0 42px 135px;
    color:white;
    text-transform: uppercase;
}

.questionWrapper .firstCase{
    border: none;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    border-radius: 8px;
    color:white;
}
.questionWrapper .firstCase label{
    padding: 15px 0 0 0;
    background: rgba(0, 0, 0, 0);
}

.questionWrapper .secondCase{
    border: none;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    border-radius: 8px;
    color:white;
}
.questionWrapper .secondCase label{
    padding: 15px 0 0 0;
    background: rgba(0, 0, 0, 0);
}


.questionWrapper .thirdCase{
    border: none;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    border-radius: 8px;
    color:white;
}
.questionWrapper .thirdCase label{
    padding: 15px 0 0 0;
    background: rgba(0, 0, 0, 0);
}

.questionWrapper .fourthCase{
    border: none;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    border-radius: 8px;
    color:white;
}
.questionWrapper .fourthCase label{
    padding: 15px 0 0 0;
    background: rgba(0, 0, 0, 0);
}

.questionWrapper .fifthCase{
    border: none;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    border-radius: 8px;
    color:white;
}
.questionWrapper .fifthCase label{
    padding: 15px 0 0 0;
    background: rgba(0, 0, 0, 0);
}


.toggle-box:checked + label + div {
    
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    width: auto;
    padding: 3px 0 0 48px;
    position: absolute;
}

/* .toggle-box:hover + label + div{
    position: absolute;

    padding: 0 0 30px 0;
} */

.questionWrapper .youHaveQ {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding: 0px 0 0 0;
    margin: 0px 0 23px;
    color: white
}

.questionWrapper .youHaveQF a {
    background: linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    font-family: 'Montserrat';
    margin: -485px 524px 68px 590px;
    color: white;
}

.sucsesfullcases .scWrapper div{
    background: rgba(0, 0, 0, 0);
}

.sucsesfullcases .scWrapper marquee{
    
    width: auto;
    background: rgba(0, 0, 0, 0);  
}

.sucsesfullcases .scWrapper{
    background: rgba(0, 0, 0, 0); 
    width: auto;
}

.sucsesfullcases .scWrapper {
    display: inline-block;
    margin: 0 0 143px 0px;
}

h4 {
    color: white;
    margin: 0 572px 32px 630px;
    width: 306px;
    
}

.numbers .nubmersText{
    width: 644px;
    height: 69px;
    text-align: center;
    margin: 0 572px 58px 459px;
    color: white;
}

.numbers .numbersWrapperFirst div{
    background-image:linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}

.numbers .numbersWrapperSecond {
    color: white;
}

.feedbacks img {
    margin: 20px 0 190px 135px;
}


.guarantees img{
    margin: 0 34px 0px 75px;
}

.guarantees .guaranteesFtxt{
    font-size: 32px;
    color:white;
    line-height: 39px;
    font-family: 'Montserrat';
    margin: -650px 520px 37px 584px;
}

.guarantees{
    margin: 0 0 800px 0;
}

.office .officeTxtfitst{
    text-transform: uppercase;
    color:white;
    margin: 0 0 32px 185px;
}

.office{
    color:white;
}

.office .officeimg{
    width: 1170px;
    height: 838px;
    margin: 0 135px 190px 186px;
}
.office .officeTxtsecond {
    margin: 0 0 42px 185px;
}


footer{
    background-color: rgba(18, 18, 16, 1);
}

footer .footerLogo{
    background: rgba(0, 0, 0, 0);
}

footer .footerFirstTxt{
    background: rgba(0, 0, 0, 0);
}

footer .footerFirstTxt a img{
    background: rgba(0, 0, 0, 0);
    padding: 28px 0 0 28px;
}

footer .footerFirstTxt .footerlinks{
    background: rgba(0, 0, 0, 0);
}

footer .footerFirstTxt a{
    background: rgba(0, 0, 0, 0);
}

footer .footerFirstTxt{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 22px;
    color: white;
}

footer .footerFirstTxt .footergmail{
    padding: 0 0 18px 29px;
}

footer .footerFirstTxt p{
    padding: 0 0 0 29px;
    background: rgba(0, 0, 0, 0);
}

footer .footerSecondTxt {
    padding: 14px 0 0 0;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 22px;
    color: white;
    background: rgba(0, 0, 0, 0);
}

footer .footerSecondTxt a{
    padding: 19px 0 0 0;
    background: rgba(0, 0, 0, 0);
}

footer .footerThirdTxt p {
    background: rgba(0, 0, 0, 0);
}

footer .footerThirdTxt{
    background: rgba(0, 0, 0, 0);
}

footer .footerThirdTxt {
    margin: -48px 0 0 1028px;
}

footer .footerThirdTxt a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background: linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#message{
    font-size: 50px;
    font-family: 'Lora';
    line-height: 64px;
    font-weight: 600;
    color: white;
    margin: -765px 0 0 532px;
    background: rgba(0, 0, 0, 0);
}

.office{
    margin: 690px 0 0 0;
}


.new li ul{
    background: rgba(0, 0, 0, 0);
    display: none;
}


.new li:hover ul{
    /* background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%); */
    height: auto;
    display: block;
    margin: 11px 0 0px 11px;
}

.new{
    border: none;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgb(73 47 0 / 23%);
    border-radius: 8px;
    color: white;
    width: 570px;
    height: 57px auto;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 20px 0;
    padding: 16px 0 16px 0;
    
}
.new li{
    background: rgba(0, 0, 0, 0);
    list-style: none;
    margin: 0 0 0 50px;
}

.demo .open{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
    margin: 0 0 0 19px;
    position: absolute;
}

.new li:hover img{
    display: none;
}
.new:hover .open{
    display: none;
}

.new .close{
    display: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
}

.new:hover .close{
    display: block;
    position: absolute;
    margin: 5px 0 0 19px;
}


.case_header .case_menu .three_menu {
    margin: 0px 0px -2px 500px;
}

.iconsTwo a img {
    padding: 0px 20px 0 0;
    width: 24px;
    height: 24px;
}

.iconsTwo {
    margin: 59px 0px 0px -480px;
}

.logo img {
    padding-top: 61px;
}

.slider-track .slide2{
    display: block;
}

.slider .slider-track .slide4 {
    display: grid;
    grid-template-columns: 410px 410px 410px;
    margin: 0px 0 0px 0;
    
}

footer .footerFirstTxt a img {
    padding: 28px 0px 0 21px;
}

footer .footerFirstTxt .footerlinks {
    margin: 0 0 0 11px;
}

footer .footerFirstTxt .footergmail {
    font-family: 'Montserrat';
}

footer .footerFirstTxt p {
    font-family: 'Montserrat';
    width: 290px;
}

footer .footerSecondTxt a{
    font-family: 'Montserrat';
}

footer .footerSecondTxt {
    padding: 14px 0 0 28px;
}

footer .footerThirdTxt p{
    font-family: 'Montserrat'; 
}

footer .footerThirdTxt a{
    font-family: 'Montserrat'; 
}

/*  */
/* .slider {
    position: relative;
    user-select: none;
    touch-action: pan-y;
    width: 3000px;
    height: 600px;
  }
  
  .slider-list{
    width: 3000px;
    height: 600px;
    display: hidden;
  }
  .slider-track {
    display: flex;
    display: inline-block;
  }


  .slide {
    display: flex;
  }

  .next.disabled,
  .prev.disabled {
  opacity: .25;
  pointer-events: none;
}

.slider-list {
    overflow: visible; 
}

.slider .slider-list {
    margin: 50px 0 500px 0;
}

.slider .slider-list .slide2{
    display: block;
}

.slider .slider-list .slide3{
    display: block;
}

.slider .slider-list .slide4{
    display: block;
} */

.slider {
    position: relative;
    width: 2000px;
    height: 700px;
    margin: 50px 0 400px 147px;
    touch-action: pan-y;
  }
  
  
  
  .slider-list {
    width: 1320px;
    height: 300px;
    overflow: hidden;
  }
  
  .slider-list.grab {
    width: auto;
    height: auto;
    
  }
  
  
  
  .slider-track {
    width: auto;
    height: auto;
    display: flex;
  }
  
  .slide {
    width: 1320px;
    height: 540px;
    flex-shrink: 0;    
    display: flex;      
  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next,
  .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
  }
  


.slider .slide1 .buttonGold{
    width: 343px;
    height: 68px;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    appearance: none;
    cursor: pointer; 
    color: #FFFF;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    border-color: rgba(225, 203, 107, 1) rgba(159, 107, 20, 1) rgba(236, 219, 122, 1) rgba(195, 161, 66, 1);
    border: 3px,solid;
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
}

.slider .slider-list {
     margin: 0 0 0px 0; 
}

.slider .slider-track .slide1 {
    margin: 90px 0 0px 13px;
}

.slider .slide2 .buttonGold{
    width: 343px;
    height: 68px;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    appearance: none;
    cursor: pointer; 
    color: #FFFF;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    border-color: rgba(225, 203, 107, 1) rgba(159, 107, 20, 1) rgba(236, 219, 122, 1) rgba(195, 161, 66, 1);
    border: 3px,solid;
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
}

.slider .slide2{
    display: block;
}

.slider .slider-list .slide2 .slide2p {
    margin: 36px 0 0 102px;
}

.slider .slider-list .sliderlistp {
    margin: 59px 0 0 104px;
}
.slider .slider-track .slide2 {
    display: grid;
    grid-template-columns: 410px 410px 410px;
    margin: 0px 0 0px 0;
}

.slider .slider-track .slide1 {
    margin: 0px 0px 0px 13px;
}

.slider .slider-list .slide1 .sliderlistp {
    margin: 39px 0 0 89px;
}

.slider .slider-track .slide3 {
    display: grid;
    grid-template-columns: 410px 410px 410px;
    margin: 0px 0 0px 0;
}

.slider .slider-list .slide3 .sliderlistp {
    margin: 39px 0 0 100px;
}

.slider .slider-arrows {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: -80px 0px 90px 980px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
}


.slider .slider-arrows button {
    border: none;
    width: 34px;
    background: rgba(0, 0, 0, 0);
    height: 34px;
}

.slider .slider-arrows button{
    justify-content: center;
    font-size: 50px;
    color:white;
}



.slider .slider-arrows button {
    justify-content: center;
    font-size: 44px;
    padding: 0 34px 0 18px;
    color: white;
    z-index: 1;
}


.slider .slider-arrows {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 90px 980px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
}

.slider .slider-arrows {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 980px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    position: relative;
}

.slider .slider-track .counterGoal{
    z-index: 100;
    position: absolute;
    margin: 0px 0 0 1008px;
    display: block;
    height: auto;
    width: auto;
    font-size: 40px;
    color: white;
    background: rgba(0, 0, 0, 0);

}

.slider .slider-track .counterGoal span{
    z-index: 100;
    background: rgba(0, 0, 0, 0);
}
/*  */
.slider .slider-arrows {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px -18px 980px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    position: relative;
}

.slider .slider-track .slide {
    margin: 64px 0px 0px 13px;
}

.slider .slider-track .slide1 .counterGoal {
    z-index: 100;
    position: absolute;
    margin: -70px 0 0 1022px;
    display: block;
    height: auto;
    width: auto;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0);
}

.slider .slider-track .slide2 .counterGoal {
    margin: -70px 0 0 1016px;
    font-size: 30px;
}

.slider .slider-track .slide3 .counterGoal {
    margin: -70px 0 0 1012px;
    font-size: 30px;
}

.slider .slider-track .slide4 .counterGoal {
    margin: -70px 0 0 1005px;
    font-size: 30px;
}

.slider .slider-track .slide4{
    margin: 64px 0px 0px 7px;
}

.slider .slider-track .slide2 {
    margin: 64px 0px 0px 8px;
}

.slider .slider-track .slide3 {
    margin: 64px 0px 0px 4px;
}

.slider .slider-txt {
    position: absolute;
    z-index: 2;
    margin: 0px 0 0 0;
}

.slider .slider-arrows {
    margin: 0px 0px 0px 980px;   
    position: relative;
    z-index: 2;
}

.slider .slider-arrows button {
    justify-content: center;
    font-size: 44px;
    padding: 0px 34px 0px 18px;
    color: white;
    z-index: 1;
    margin: -60px 5px 0px 10px;
    position: relative;
}

.slider .slider-arrows .next{
    position: relative;
    z-index: 1;
}

.slider .slider-arrows .prev{
    position: relative;
    z-index: 1;
}

.slider .slider-arrows .next{
    position: relative;
    z-index: 1;
}

.slider .slider-arrows button {
    justify-content: center;
    font-size: 44px;
    padding: 0px 34px 0px 18px;
    color: white;
    z-index: 1;
    margin: 5px 5px 0px 10px;
    position: relative;
}

.slider .slider-list {
    margin: -18px 0 0px 0;
}

.slider .slider-txt {
    position: absolute;
    z-index: 2;
    margin: 22px 0 0 0;
}

.slider .slider-service {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: white;
    margin: 0 0 0px 0;
}
.slider .slider-track .slide4 .counterGoal {
    margin: -70px 0 0 1004px;
    font-size: 30px;
}

.slider{
    margin: 50px 0px 120px 147px;
}



.slider .slider-track .slide1 .counterGoal {
    z-index: 100;
    position: absolute;
    margin: -67px 0 0 1022px;
    display: block;
    height: auto;
    width: auto;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0);
}

.slider .slider-arrows button {
    justify-content: center;
    font-size: 44px;
    padding: 1px 34px 0px 18px;
    color: white;
    z-index: 1;
    margin: -34px 5px 0px 10px;
    position: relative;
}

.slider .slider-list {
    margin: -3px 0 0px 0;
}
.slider .slider-txt {
    position: absolute;
    z-index: 2;
    margin: 60px 0px 0px 30px;
}
.slider-track div {
    margin: 60px 0 0 0;
}

.slider .slider-service {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: white;
    margin: -6px 0 14px 28px;
    position: absolute;
    z-index: 2;
}
.slider .slider-arrows button {
    justify-content: center;
    font-size: 44px;
    padding: 20px 34px 0px 31px;
    color: white;
    z-index: 1;
    margin: -34px 15px 0px -6px;
    position: relative;
}

.slider .slider-track .slide2 .counterGoal {
    margin: -67px 0 0 1015px;
    font-size: 30px;
}

.slider .slider-track .slide3 .counterGoal {
    margin: -67px 0 0 1011px;
    font-size: 30px;
}

.slider .slider-track .slide4 .counterGoal {
    margin: -67px 0 0 1004px;
    font-size: 30px;
}

.office {
    margin: 1580px 0 0 0;
}


/*  */
@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(0px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 0; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(0px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #2de4d0;
    -webkit-animation: animateWord 29s linear infinite 0s;
    -ms-animation: animateWord 20s linear infinite 0s;
    animation: animateWord 23s linear infinite 0s;
}
.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 4s; 
    -ms-animation-delay: 2s; 
    animation-delay: 3s; 
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 7s; 
    -ms-animation-delay: 5s; 
    animation-delay: 6s; 
}
.animated-words span:nth-child(4) { 
    -webkit-animation-delay: 10s; 
    -ms-animation-delay: 8s; 
    animation-delay: 9s; 
}
.animated-words span:nth-child(5) { 
    -webkit-animation-delay: 13s; 
    -ms-animation-delay: 11s; 
    animation-delay: 12s; 
}
.animated-words span:nth-child(6) { 
    -webkit-animation-delay: 16s; 
    -ms-animation-delay: 14s; 
    animation-delay: 15s; 
}
.animated-words span:nth-child(7) { 
    -webkit-animation-delay: 19s; 
    -ms-animation-delay: 17s; 
    animation-delay: 18s; 
}


.animated-words {
    display: inline-block;
}

.text-wrapper {
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0);
}

.animated-words span{
    font-size: 64px;
    color:white;
}

.office {
    margin: 930px 0 0 0;
}

.guarantees .guaranteesFtxt {
    margin: -705px 520px 37px 596px;
}

.text-wrapper {
    margin: -767px 0 0 -127px;
}
.animated-words span{
    background: rgba(0, 0, 0, 0);
}
 .animated-words .safety{
   margin: 0 0 0 -200px;
} 

.animated-words .confidentiality{
    margin: 0 0 0 -320px;
 } 

 
.animated-words .effciency{
    margin: 0 0 0 -210px;
 } 

 .animated-words .competence{
    margin: 0 0 0 -240px;
 }
 .animated-words .understand{
    margin: 0 0 0 -155px;
 }

 .animated-words .loyalty{
    margin: 0 0 0 -155px;
 }

 .animated-words .ways {
    margin: 0 0 0 -480px;
    width: auto;
    height: auto;
}

.text-wrapper {
    margin: -758px 0 0 -127px;
}

.photos img{
    margin: 70px 0 0 436px; 
    z-index: 0;
}

.questions .questionsRectangle{
    background: url(../img/newDesign/png\ \(8\)\ \(1\).png) no-repeat;
    width: 705px;
    height: 471px;
    outline:none; border:0;
    position: absolute;
}

.questions img { border: none; }

.prevue {
    margin: -85px 0 880px 0;
}
/* .photos .goal_photo {
    z-index: 0;
    margin: 100px 0 0 437px;
} */
.hamburger{
    display: none;
}
.newBLOCK{
    display: none;
}

.photos .goal_photo {
    z-index: 0;
    margin: 75px 0 0 536px;
}

.wrapper_cases {
    margin: -179px 0px 0px;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    gap: 4px;
    grid-template-rows: minmax(245px, auto) minmax(255px, auto);
    grid-auto-rows: minmax(255px, auto);
    padding: 0px 0px 75px 160px;
}

.photos .goal_photo {
    z-index: 0;
    margin: 75px 0 65px 536px;
}

.wrapper_head-text {
    margin: -745px 0px 0px 148px;
}

.menu{
    display: none;
}

.goal_photo222{
    display: none;
}

.prevueimgmob{
    display: none;
}
.slidermobsection{
    display: none;
}
.scFonmob{
    display: none;
}
.sucsesfullcases .scFon {
    
    margin: 0 0 0 0px;
    width: 1519px;
    height: 728px;
}

h3 {
    background: rgba(0, 0, 0, 0);
    width: 392px;
}



.sucsesfullcases .scWrapper marquee {
    width: 1519px;
    background: rgba(0, 0, 0, 0);
}

.scFonmob{
    display: none;
}

.numbers .mobnumberswrapper{
    display: none;
}

.guarantees .mobguarant{
    display: none;
}

.mobfeedback{
    display: none;
}

#language .case_phone a {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 7px;
}

.partnersimg{
    width: 1519px;
    height: 636px;
}

.txtpartners{
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: -420px 0 42px 625px;
}

.partners{
    margin: 0 0 600px 0;
}

.partners .partnetsWrapper marquee{
    background:rgba(0, 0, 0, 0);
   
}


.partners .partnetsWrapper marquee img{
    padding: 0 39px 0 39px;
    background:rgba(0, 0, 0, 0);
}

.article .articletxt{
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: 0 0 32px 608px;
    color: white;
}

.article{
    margin: 800px 0 0 0;
}


.article .artcilep{
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    margin: 0 0 50px -15px;
    text-align: center;
    color:white;
}

.article .articlewrapper{
   display: grid;
   grid-template-rows: minmax(250px,auto);
   grid-template-columns: 290px 290px 290px 290px;
}

.article .articlewrapper div{
    width: 270px;
    height: 189px;
    background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%);
    box-shadow: 6px 4px 33px rgba(73, 47, 0, 0.23);
    border-radius: 14px;
    display: block;
    text-align: center;
}

.article .articlewrapper div p{
    background: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    font-weight: 500;
}

.article .articlewrapper .articlepGoal1{
    color:white;
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    text-align: center;
}


.article .articlewrapper .articlepGoal2{
    color:white;
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    text-align: center;
}



.article .articlewrapper .articlepGoal3{
    color:white;
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    text-align: center;
}


.article .articlewrapper .articlepGoal4{
    color:white;
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    text-align: center;
}


.article .articlewrapper {
    display: grid;
    grid-template-rows: minmax(1000px,auto);
    grid-template-columns: 350px 350px 350px 350px;
    row-gap: 30px;
    margin: 0 0 0 105px;
}

.article .articlewrapper .articlediv .articleread{
    background: linear-gradient(93.47deg, #E7D473 2.47%, #B97E1C 34.64%, #EDDC7B 71.72%, #C3A041 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
}

.article .articlewrapper .articlediv .articleread span{
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center bottom 1px;
    background-size: 100% 1px;
    background-image: linear-gradient(rgba(231, 212, 115, 1), rgba(185, 126, 28, 1), rgba(237, 220, 123, 1), rgba(195, 160, 65, 1));
}

.article .articlewrapper .articlepGoal1 {
    padding: 17px 0 12px 0px;
}

.article .articlewrapper .articlepGoal2 {
    padding: 17px 0 12px 0;
}

.article .articlewrapper .articlepGoal3 {
    margin: 17px 0 35px 0;
}

.article .articlewrapper .articlepGoal4 {
    margin: 17px 0 36px 0;
}

.office {
    margin: -370px 0 0 0;
}

.office .officeimg {
    width: 769px;
    height: 396px;
    margin: -255px 0 190px 600px;
}

.article {
    margin: 750px 0 -31px 0;
}

.office {
    margin: -550px 0 0 0;
}

.office .officelocate1 {
    font-size: 18px;
    font-family: 'Lora';
    font-weight: 700;
    line-height: 23px;
    color: white;
    margin: 0 0 14px 185px;
}

.office .officelocate2{
    font-size: 18px;
    font-family: 'Lora';
    font-weight: 700;
    line-height: 23px;
    color: white;
    margin: 0 0 14px 185px;
}

.office .officelocate2txt{
    margin: 0 0 0 184px;
    font-size: 18px;
    font-family: 'Lora';
    font-weight: 400;
    line-height: 23px;
}
.office .lineclass{
    display: block;
    width: 290px;
    height: 1px;
}

.office span{
    display: block;
    width: 270px;
    height: 1px;
    background: linear-gradient(rgba(231, 212, 115, 1), rgba(160, 108, 21, 1), rgba(237, 220, 123, 1), rgba(195, 160, 65, 1));
    margin: 0 0 0 0;
}

.office .lineclass {
    display: block;
    width: 290px;
    margin: -15px 0 22px 184px;
    height: 1px;
}

.office .officeimg {
    width: 769px;
    height: 396px;
    margin: -292px 0 190px 600px;
}

.article .artcilepmob{
    display: none;
}

.partners  .partnersimgmob{
    display: none;
}


.article .artcilepmob428{
    display: none;
}

.questionWrapper .youHaveQF a {
    font-family: 'Lora';
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    color: #3CBA92;
    text-decoration: none;
}

/* #idslider-service{
    display: none;
} */

.wrapper_cases {
    margin: -245px 0px 0px;
    display: grid;
    grid-template-columns: 420px 420px 420px;
    gap: 4px;
    grid-template-rows: minmax(245px, auto) minmax(255px, auto);
    grid-auto-rows: minmax(255px, auto);
    padding: 0px 0px 75px 147px;
}


.slider .slider-arrows {
    margin: 0px 0px 0px 984px;
    position: relative;
    z-index: 2;
}

.slider .slider-arrows button {
    justify-content: center;
    font-size: 44px;
    padding: 20px 34px 0px 31px;
    color: white;
    z-index: 1;
    margin: -28px 15px 0px -6px;
    position: relative;
}



.slider .slider-arrows button {
    justify-content: center;
    font-size: 34px;
    padding: 20px 34px 0px 31px;
    color: white;
    z-index: 1;
    margin: -28px 21px 0px -8px;
    position: relative;
}

.slider .slider-track .slide1 .counterGoal {
    margin: -68px 0 0 1023px;
}


.slider .slider-track .slide2 .counterGoal {
    margin: -67px 0 0 1016px;
}

.slider .slider-track .slide3 .counterGoal {
    margin: -67px 0 0 1012px;
}

.guarantees .guaranteesFtxt {
    font-weight: 700;
    margin: -705px 520px 37px 590px;
}

.text-wrapper {
    color: #D3D5C2;
    margin: -758px 0 0 -127px;
}

.article .articlewrapper {
    display: grid;
    grid-template-rows: minmax(1000px,auto);
    grid-template-columns: 305px 305px 305px 305px;
    row-gap: 30px;
    margin: 0 0 0 160px;
}

.article .articlewrapper .articlediv .articlep3{
    margin: 0 0 0 36px;
}

footer {
    width: 100%;
    height: 385px;
}

footer .footerFirstTxt {
    position: absolute;
    display: grid;
    width: 290px;
    margin: -80px 0 74px 440px;
}

footer .footerSecondTxt {
    padding: 14px 0 0 10px;
}

footer .footerThirdTxt {
    margin: -48px 0 0 967px;
}

h4 {
    color: white;
    margin: 0px 572px 32px 625px;
    width: 306px;
}

.new:hover ul {
    /* background: linear-gradient(90deg, #3C3A37 0%, #1F1A1A 100%); */
    height: auto;
    display: block;
    margin: 11px 0 0px 11px;
}

.article .articlewrapper {
    display: grid;
    grid-template-rows: minmax(1000px,auto);
    grid-template-columns: 305px 305px 305px 305px;
    row-gap: 30px;
    margin: 0 0 0 185px;
}

.article .articletxt {
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
    margin: 0px 0px 32px 639px;
    color: white;
}

.article .artcilep {
    font-size: 18px;
    font-family: 'Lora';
    line-height: 23px;
    margin: 0 0 50px 40px;
    text-align: center;
    color: white;
}

