*{
    margin: 0;
    padding: 0;
}


.servicesHeader .imgSH{
    width: 100%;
    height: auto;
}

.servicesHeader .sHtext{
    font-size: 86px;
    font-family: 'Mitr', sans-serif;
    position: absolute;
    color:white;
    margin: 200px 0 0 100px;
    text-shadow: 10,whitesmoke; 
}

.infotxtS{
    font-size: 24px;
    font-family: 'Mitr', sans-serif;
    color:black;
    /* margin: 0 auto; */
    padding: 50px 30px 50px 30px;
}

.cardswrap .card{
    width: 250px;
    height: 340px;
    /* text-align: center;
    justify-content: center; */
    /* background-color: black; */
    margin: 50px 15px 0 15px;
    padding: 0 20px 0 20px;

}
.cardswrap .card .infcard{
    font-size: 32px;
    font-family: 'Mitr', sans-serif;
    color: #fff;
    margin: 0 0 0 5px;
    
}

.cardswrap .card .infHiddencard{
    font-size: 12px;
    color: #fff;
    font-family: 'Mitr', sans-serif;
    margin: 0 0 0 5px;
    
}


.cardswrap .card{
      background: linear-gradient(231.57deg,rgba(43,60,128,0) 24.75%,rgba(21, 27, 51, 0.8) 50.82%,#111629 72.95%);  
   
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.cardswrap .card:hover{
     transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* .cardswrap .card:hover .infHiddencard{
    visibility: visible;
    
}

.cardswrap .card:hover .infcard{
    visibility: hidden;
   
} */

.hcards{
    display: flex;
    font-size: 36px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.cardswrap .card img{
    width: auto;
    height: 190px;
    margin: 0 0 0 5px;
}

.cardswrap{
    margin: 0 0 80px 70px;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-template-rows: auto;
    grid-row: 50px;
}

.cardswrap .card .card2infcard{
    width: 274px;
}

.cardswrap .cardm3 img{
    margin: 0 0 0 0;
}

.cardswrap .cardm3 .infcard{
    margin: 0 0 0 0;
}

.cardswrap .cardm3 .infHiddencard{
    margin: 0 0 0 0;
}


@media(max-width:1200px){
    .servicesHeader .sHtext {
        font-size: 74px;
        font-family: 'Mitr', sans-serif;
        position: absolute;
        color: white;
        margin: 180px 0 0 60px;
        text-shadow: 10,whitesmoke;
    }

    .infotxtS {
        font-size: 22px;
        font-family: 'Mitr', sans-serif;
        color: black;
        /* margin: 0 auto; */
        padding: 50px 30px 40px 30px;
    }

    .cardswrap .card {
        width: 234px;
        height: 320px;
        /* background-color: black; */
        margin: 50px 15px 0 15px;
        padding: 0 20px 0 20px;
    }

    .cardswrap .card img {
        width: auto;
        height: 180px;
        margin: 0 0 0 5px;
    }

    .cardswrap .card .infcard {
        font-size: 30px;
        font-family: 'Mitr', sans-serif;
        color: #fff;
        margin: 0 0 0 5px;
    }

    .cardswrap {
        margin: 0 0 80px 8px;
        display: grid;
        grid-template-columns: 1.2fr 1.2fr 1.2fr;
        grid-template-rows: auto;
        grid-row: 50px;
    }

    .servicesline{
        margin: 38px 0 55px 33px;
    }
}

@media (max-width:992px){
    .servicesHeader .sHtext {
        font-size: 58px;
        font-family: 'Mitr', sans-serif;
        position: absolute;
        color: white;
        margin: 140px 0 0 50px;
        text-shadow: 10,whitesmoke;
    }

    .infotxtS {
        font-size: 20px;
        font-family: 'Mitr', sans-serif;
        color: black;
        /* margin: 0 auto; */
        padding: 40px 30px 30px 30px;
    }
    
    .hcards {
        display: flex;
        font-size: 34px;
        font-family: 'Mitr', sans-serif;
        font-weight: bold;
        justify-content: center;
        padding: 0px 0 0px 0;
    }
    
    .cardswrap {
        margin: 0 0 80px 75px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: auto;
        grid-row: 0px;
    }


    .cardswrap .card {
        width: 300px;
        height: 320px;
        /* background-color: black; */
        margin: 50px 15px 0 15px;
        padding: 10px 20px 0 
}

    .servicesline {
    margin: 38px 0 55px 40px;
    }

    .cardswrap .cardm3 .infcard {
        font-size: 30px;
        font-family: 'Mitr', sans-serif;
        color: #fff;
        margin: 0 0 0 1px;
    }

    .cardswrap .card {
        width: 281px;
        height: 320px;
        /* background-color: black; */
        margin: 50px 15px 0 15px;
        padding: 10px 20px 0;
    }

    .cardswrap .cardm3 img {
        width: auto;
        height: 180px;
        margin: 0 0 0 0px;
    }

    .cardswrap .card .infcard {
        font-size: 28px;
    }

    .cardswrap .card .infHiddencard {
        font-size: 11px;
    }
}


@media(max-width:768px){
    .servicesHeader .sHtext {
        font-size: 50px;
        font-family: 'Mitr', sans-serif;
        position: absolute;
        color: white;
        margin: 95px 0 0 25px;
        text-shadow: 10,whitesmoke;
    }

    .infotxtS {
        font-size: 18px;
        font-family: 'Mitr', sans-serif;
        color: black;
        /* margin: 0 auto; */
        padding: 20px 30px 20px 35px;
    }

    .hcards {
        display: flex;
        font-size: 28px;
        font-family: 'Mitr', sans-serif;
        font-weight: bold;
        justify-content: center;
        padding: 0px 0 0px 0;
    }

    .cardswrap {
        margin: 0 0 70px 10px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: auto;
        grid-row: 0px;
    }

    .servicesline {
        margin: 38px 0 55px 25px;
}
    
   footer .servicescase1{  
        padding: 7px 0 0 120px;
   }
}

@media(max-width:576px){
    footer .servicescase1 {
        padding: 7px 0 0 60px;
    }

    .servicesHeader .sHtext {
        font-size: 34px;
        font-family: 'Mitr', sans-serif;
        position: absolute;
        color: white;
        margin: 85px 0 0 25px;
        text-shadow: 10,whitesmoke;
    }

    .hcards {
        display: flex;
        font-size: 22px;
        font-family: 'Mitr', sans-serif;
        font-weight: bold;
        justify-content: center;
        padding: 0px 0 0px 0;
    }

    .infotxtS {
        font-size: 14px;
        font-family: 'Mitr', sans-serif;
        color: black;
        /* margin: 0 auto; */
        padding: 20px 30px 20px 35px;
    }

    .cardswrap {
        margin: 0 0 70px 103px;
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-rows: auto;
        grid-row: 0px;
    }

    .servicesline {
        margin: 38px 0 55px 28px;
    }
}

@media(max-width:528px){
    .servicesHeader .sHtext {
        font-size: 30px;
        font-family: 'Mitr', sans-serif;
        position: absolute;
        color: white;
        margin: 70px 0 0 25px;
        text-shadow: 10,whitesmoke;
    }

    .cardswrap {
        margin: 0 0 50px 77px;
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-rows: auto;
        grid-row: 0px;
    }

    .servicesline {
        margin: 38px 0 55px 30px
}

footer .servicescase1 {
    padding: 7px 0 0 40px;
}
}

@media (max-width:428px){
    .servicesHeader .sHtext {
        font-size: 24px;
        font-family: 'Mitr', sans-serif;
        position: absolute;
        color: white;
        margin: 50px 0 0 20px;
        text-shadow: 10,whitesmoke;
    }

    .infotxtS {
        font-size: 12px;
        font-family: 'Mitr', sans-serif;
        color: black;
        /* margin: 0 auto; */
        padding: 20px 30px 20px 35px;
    }

    .hcards {
        display: flex;
        font-size: 17px;
        font-family: 'Mitr', sans-serif;
        font-weight: bold;
        justify-content: center;
        padding: 0px 0 0px 0;
    }

    .cardswrap {
        margin: 0 0 50px 29px;
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-rows: auto;
        grid-row: 0px;
    }


    .servicesline {
        margin: 38px 0 55px 27px;
        width: 358px;
    }

    footer .servicescase2{
        display: none;
    }

    footer .servicescase1 {
        padding: 7px 0 30px 123px;
}
}


@media(max-width:404px){
    .cardswrap {
        margin: 0 0 50px 18px;
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-rows: auto;
        grid-row: 0px;
    }

    .servicesline {
        margin: 38px 0 55px 22px;
        width: 341px;
    }
    
    .hcards {
        display: flex;
        font-size: 17px;
        font-family: 'Mitr', sans-serif;
        font-weight: bold;
        justify-content: center;
        padding: 18px 0 0px 0;
    }
}