@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

.uniquecolorsection .color-picker input{
    padding: 0 0 0 0px;
    margin: 40px 0 0 5px;
}

.uniquecolorsection .color-picker label{
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
}


.uniquecolorsection .color-picker{
    margin: 0 0 0 622px;
}

@media(max-width:1200px){
    .uniquecolorsection .color-picker {
        margin: 0px 0px 0px 465px;
    }
}

@media(max-width:992px){
    .uniquecolorsection .color-picker {
        margin: 0px 0px 0px 383px;
    }
}

@media(max-width:768px){
    .uniquecolorsection .color-picker {
        margin: -15px 0px -15px 269px;
    }
}

@media(max-width:576px){
    .uniquecolorsection .color-picker {
        margin: -20px 0px -20px 184px;
    }
}

@media(max-width:528px){
    .uniquecolorsection .color-picker {
        margin: -20px 0px -20px 165px;
    }
}

@media(max-width:428px){
    .uniquecolorsection .color-picker {
        margin: -20px 0px -20px 120px;
    }
    .uniquecolorsection .color-picker label {
        font-size: 16px;
    }
}

@media(max-width:404px){
    .uniquecolorsection .color-picker {
        margin: -20px 0px -20px 106px;
    }
}
